.cata-item a:link, a:visited {
	text-decoration: none;
}
.cata-item a {
	display: block;
}
.cata-item a:hover {
	background-color: #999999;
}
.cat-left-rtl {
	/*background-color: #333333;*/
}
.cata-item ul {
	list-style-type: none;
}
.rtl-box .catalo {
	margin-right: 15%;
}
.rtl-box .catalo ul {
	padding-right: 40px;
	padding-left: 20px;
}
.cata-item a {
	padding-left: 15px;
}
.cat-left-rtl hr {
	margin-top: 5px; 
    margin-bottom: 5px; 
}
.rtl-banner img {
	width: 240px;
	height: 240px;
}
.cata-item ul li {
	margin-bottom: 5px;
    margin-top: 5px;
}
.cata-item ul li:nth-child(1n+2) {
	border-top: 1px dotted #eeeeee;
}
.cat-left-rtl h3 {
	font-size: 20px;
}
.fp-img {
	width: 80px;
	height: 120px;
}
.fp-item-img {
	float: left;
	width: 28%;
}
.fp-item-ct {
	padding-left: 95px;
}
.fp-name {
	margin-bottom: 0px;
	font-weight: bold;
}
.feature-product-item hr {
	margin-right: 15%;
	margin-bottom: 20px;
}
.fp-price {
	color: #f0141e;
    font-size: 14px;
    font-family: Sans-Serif;
    font-weight: normal;
}
.fp-item {
	display: block;
}
.clear {
	clear:left;
	height: 20px;
}
