.home-footer a {
	text-decoration: none;
	font-size: 1.3em;
}
.home-footer a:link, a:visited {
	text-decoration: none;
	color: red;
}
.a-home-footer {
	color: #3A3939;
}
.a-home-footer:hover {
	color: red;
}
.home-footer {
	padding-left: 80px;
	background-color: #C3C3C3;
}
.home-footer ul li {
	display: inline-block;
}
.home-footer ul {
	list-style-type: none;
	margin-bottom: 0px;
}
footer {
	background-color: #222222;
	color: white;

}
.img-map {
	height: 25px;
	width: 22px;
}
.footer-ad ul {
	list-style-type: none;
	/*margin-top: 5px;*/
	padding-left: 20px;
	display: table;
}
.list-footer-left li {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;;
	cursor: pointer;
	float: left;
	margin-right: 0px;
	width: 100%;
}

img.img-footer {
	vertical-align: top;
	float: left;
	margin-right: 10px;
}
.footer-text-red {
	display: block;
	line-height: 100%;
	color: #f0141e;
}
.footer-text-white {
	display: block;
}
.boder-left-footer {
	border-right: solid 1px;
}
.top-fort {
	height: 20px;
}
ul.ul-footer-in a:link, a:visited {
	text-decoration: none;
	color: #999999;
	font-family: 'Roboto Slab',Georgia,Times,serif;
	font-size: small;
}
ul.ul-footer-in a:hover {
	color: white;
}
ul.ul-footer-in li {
	margin-top: 5px;
	margin-bottom: 5px;
}
.bottom-footer {
	text-align: center;
	border-top: solid 1px #999999;
}
.aaa {
	color: #999999;
	font-family: 'Roboto Slab',Georgia,Times,serif;
	font-size: small;
}
.scrollToTop{
	width:120px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:45%;
	right:5px;
	display:none;
	z-index: 10;
	background: url('imgt/arrow_up.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}
/*********************************************/
/*css cho log in*/
.log-oin {
	text-align: center;
}
.log-in {
	margin-right: 10px;
}
.login-form {
	/*position: fixed;*/
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(51,51,51,0.7);
	position: absolute;
	visibility: hidden;
	z-index: 10;
}
.login-form-box {
	top: 15%;
	background-color: white;
	height: auto;
	z-index: 20;
}
.form-header-pu {
	margin-top: 15px;
}
.form-header-pu .h3 {
	color: red;
	font-weight: bold;
}
.form-ul {
	list-style-type: none;
	display: inline-block;
}
.form-ul li {
	margin-top: 3px;
	margin-bottom: 3px;
}
.btn-login {
	background-color: red;
	border: none;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-weight: bold;
}
.btn-cpu {
	background-color: red;
	font-weight: bolder;
	color: white;
	float: right;
}
/*******************************************/
/* Phần dành cho reg */
.reg-form-box {
	top: 10%;
	background-color: white;
	height: auto;
	z-index: 20;
}
