.content_oc table.form tr td:first-child {
	font-weight: 700;
	text-align: right;
}
.div-reg-box .required {
	color: red;
}
#content_oc {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.content_oc {
	background: #ECFFF6;
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	/*border: 1px solid #EEEEEE;*/
}
.div-reg-box input {
	padding: 6px;
	min-width: 200px;
	background: #fff;
	margin: 5px;
	/*border-color: #eee;*/
	border: 1px solid #eee;
}
.div-reg-box select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 6px;
	margin: 5px;
}
.div-reg-box .agree .buttons a {
	text-decoration: none;
	color: red;
}
.agree .buttons {
	float: right;
	text-align: right;
	/*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    /*margin-bottom: 20px;
    margin-top: 10px;*/
}
.agree .buttons input[type="checkbox"] {
	min-width: 30px;
}
.agree .buttons input[type="submit"] {
	min-width: 120px;
}
.agree .btn-reg {
	/*background-color: red;
	border: none;
	padding: 10px;
	color: white;
	font-weight: bold;
	float: right;
	cursor:pointer;
	vertical-align: middle;*/

	display: inline-block;
	color: white;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-color: red;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.666667;
    border-radius: 0;
}
.div-reg-box h3 {
	color: red;
	font-weight: 400;
	font-family: initial;
}
.div-reg-box h2 {
	color: red;
	font-weight: 200;
	font-family: initial;
}
.agree {
	width: 100%;
	padding: 1px;
	border: 0;
	overflow: auto;
	margin-bottom: 5px;
}
.div-reg-box {
	padding: 20px
}
.content_oc .form tr td:first-child{
	width: 120px;
}
/*@media only screen and (max-width: 480px) {
    .div-reg-box select {
    	width: 200px;
    }
}
@media only screen and (max-width: 360px) {
    .div-reg-box input {
    	min-width: 100%;
    }
    .div-reg-box select {
    	width: 100%;
    }
}*/
.form-horizontal {
    margin-right: 15px;
    margin-left: 15px;
}
