html, body {
	height: 100%
}

body {
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    background: #2A3F54;

}

a {
    color: #5A738E;
    text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

.required {
	color: red;
	font-weight: 600;
}

.errors {
	color: red;
	font-size: 12px;
}

.edit_link a {
	color: #337ab7;
}

.left_col {
	display: none;
	position: absolute;
	padding: 0;
	width: 230px;
    background: #2A3F54;
}

.right_col {
	margin-left: 0px;
	padding: 10px;
	right: 0;
	left: 0;
    background: #F7F7F7;
    min-height: 100%;
    position: absolute;
}


.right-container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	
}

a.site_title {
	display: block;
	padding-top: 10px;
	font-size: 22px;
	color: #ECF0F1;
	padding-left: 10px;
}

.site_title > i {
	padding: 5px 6px;
	border-radius: 50%;
	border: 1px solid #eee;
}

.profile_pic {
	float: left;
	width: 35%;
}

.profile_pic img {
	border-radius: 50%;
	width: 70%;
	height: auto;
	margin-left: 15%;
	background-color: #FFF;
	padding: 4px;
	margin-top: 20px;
	border: 1px solid rgba(52, 73, 94, 0.44);
}

.profile_info {
	width: 65%;
	float: left;
	padding: 20px 5px;
}

.profile_info span {
	line-height: 30px;
}

.profile_info h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
	font-weight: 300;
}

.menu_section > h3 {
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-size: 14spx;
	color: white;
	margin: 10px 20px;
}

.nav.side_menu > li > a > span {
	transform: rotate(0deg);
	position: absolute;
	right: 5px;
	top: 15px;
	transition: all 0.3s ease-in-out;

}

.nav.side_menu > li.active {
    border-right: 5px solid #1ABB9C;
}

.nav.side_menu > li.active > a > span {
	transform: rotate(90deg);
}

.nav.side_menu > li.active > a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479), color-stop(100%, #4c5566)), #686e78;
    background: -webkit-linear-gradient(#334556, #2C4257), #2A3F54;
    background: -moz-linear-gradient(#334556, #2C4257), #2A3F54;
    background: -o-linear-gradient(#334556, #2C4257), #2A3F54;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}

.nav.side_menu li a {
    color: #E7E7E7;
    font-weight: 500;
    padding: 12px 15px;
}

.nav.side_menu li a i {
    font-size: 18px;
}

.nav.child_menu {
	display: none;
}

.nav.child_menu li {
	padding-left: 36px;
}

.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

.nav.child_menu li a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    padding: 9px;
}

.nav.child_menu li:hover, .nav.child_menu li.current_page {
	background-color: rgba(255, 255, 255, 0.06);
}



.tile_left {
	float: left;
	width: 35%;
}

.tile_right {
	float: left;
	width: 65%;
}

.tile_stats_count {
    border: 1px solid #E4E4E4;
	background-color: white;
	padding: 10px;
}

.green {
	color: #1ABB9C;
}

.tile_stats_count .count {
	font-size: 40px;
	font-weight: 600;
}

.tile_stats_count .tile_left {
	font-size: 18px;
}

.tile_stats_count .tile_right {
	font-size: 18px;
	text-align: center;
}

.count_bottom {
	font-size: 13px;
}

.x_title {
	padding: 10px 5px;
	border-bottom: 2px solid #eee;
}

.x_title h3{
	margin: 0;
	font-weight: normal;
}

.dashboard_graph {
	padding-left: 15px;
	padding-right: 15px;
}

.dashboard_graph .graph_content {
	margin-top: 10px;
}

.box {
	border: 1px solid #E4E4E4;
	background-color: white;

}

.box .box-heading {
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 600;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #2A3F54;
    color: #fafafa;
}

.box .box-heading h3 {
	margin: 0;
	display: inline;
}

.box-heading .buttons {
	float: right;
}

.box-body {
	padding: 10px;
	background-color: white;
}

.list_table {
	background-color: white;
	table-layout: fixed;

}

.list_table tbody tr td {
	vertical-align: middle;
	overflow:hidden;
	white-space: ellipsis;
}

.list_table tbody tr {
	overflow: hidden;
	white-space: nowrap;
}

.list_table thead tr td {
	
	text-align: center;
	vertical-align: middle;
	
}

.list_table .left {
	text-align: left;
	padding: 7px;
}

.list_table .right {
	text-align: right;
	padding: 7px;
}

.list_table .center {
	text-align: center;
}

.list_table .product_img img{
	width: 50px;
	height: auto;
}

#form button[type="submit"] {
	padding: 10px 30px;
}

#form input[type=number]::-webkit-inner-spin-button, 
#form input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

ul.list-horizontal {
	list-style: none;
}

ul.list-horizontal li {
	display: inline-block;
}

.product-thumb img {
	width: 200px;
	height: auto;
}

@media (min-width: 768px) {
	.left_col {
		display: block;
	}

	.right_col {
		margin-left: 230px;
	}
}