
html,body{
	height:100%;
}
.menu-D,
.menu-D a,
.menu-D ul,
.menu-D li,
.menu-D div,
.menu-D form,
.menu-D input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
   
}
.menu-D li a {
	text-decoration: none;
}
.menu-D li {
	list-style: none;
	
}
.menu-D {
	display:inline-block;
	position: relative;
	z-index: 1;
}
.menu-D > li {
	display:block;
	float:left;
}
.menu-D > li > a{
	position:relative;
	display: block;
	height:54px;
	padding:0 25px;
	line-height:54px;

	font-family:Arial;
	font-weight: bold;
	font-size:15px;
	color:#fcfcfc;
	text-shadow: 0 0 1px rgba(0,0,0,.35);

	background:#f0141e;
	border-left: 1px solid #dc0e17;
	

	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.menu-D > li:last-child > a{
	border-right: 1px solid #dc0e17;
}
.menu-D > li:hover > a { background-color: #dc0e17 }
.menu-D > li:hover > div {
	
	-webkit-transform: translateY(454px);
    -moz-transform: translateY(454px);
    -o-transform: translateY(454px);
    -ms-transform: translateY(454px);
    transform: translateY(454px);
}
.menu-D > li > div {
	position: absolute;
	display:block;
	width: auto;
	top:-400px;
	
	z-index:-1;
	visibility: hidden;
	overflow: hidden;
	background-color:#333333;


	-webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
   	
}
.menu-D > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}
.menu-D .nav-column {
	float:left;
	width: 200px;
	padding:2.5%;
	border-right:0.1px dotted #ccccaf;
}
.menu-D .nav-column:last-child {
	border-right:none;
}
.menu-D .nav-column h3{
	margin: 20px 0 10px 0;
	line-height: 18px;

	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.menu-D .nav-column li a{
	display:block;
	line-height: 26px;

	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
}
.menu-D .nav-column li a:hover {
	color:#F0141E;
}
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -150px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 300px;
  z-index:-1;
}
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
body {
  left: 0;
  margin: 0;
  overflow-x:hidden;
  position: relative;
  
}
.content{
  background-color: white;
  min-height: 100%;
}


.menu-icon-mini {
  margin-top:12px;
  margin-left:10px;
}
.header{ 
margin-left:15px; 
}
.mini-menu-body {
  overflow-y:scroll;
  overflow-x:hidden;
  width: 300px;
  height:100%;
  background-color:black;
  position: absolute;
}
html,body{
 height:100%;

}
.containt{
  min-height: 100%;
  position: fixed;
  z-index:-1;
  left:-150px;
 
}
.mini-menu-body-nav{
  list-style-type:none;
  font-size:20px;
  color:#FFF;
  font-family:"Times New Roman";
  width:200px;
}
.current-actived {
  color:red;
}
.mini-menu-body-children {
  list-style-type: none;
}
.mini-menu-body-parent {
  list-style-type: none;
}
.mini-menu-body > ul > li {
  margin-top:17px;
  margin-left:-17px;
}
.mini-menu-body > ul > li > ul > li {
  margin-top:17px;
  margin-left:-17px;
}
.mini-menu-body > ul > li > ul > li > ul > li {
  margin-top:17px;
  margin-left:-17px;
}

.mini-menu-body ul li a{
  text-decoration: none;
  color:white;
}
.mini-menu-body ul li a:hover {
  color: red;
}
.X-button{
  font-size:20px;
  color:white;
  background-color:red;
  height:50px;
  width:50px;
  text-align: center;
  padding-top: 12px;
  opacity:0.7;
  transition: all 0.4s;
}
.X-button:hover{
  opacity: 1;
}
@media only screen and (max-width: 1122px) {
  .menu-D {
    display:none;
  }
}


.wraptter {
  background-color:black;
  opacity: 0.7;
}