* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a:hover {
	text-decoration: none;
}

body {
	padding-top: 20px;
	font-size: 12px;
	font-family: 'Roboto',sans-serif;
}

.gt-tabs-title-top {
	border-bottom: 2px solid #FBFBFB;
	margin-bottom: 5px;
}

.nav-tabs > li > a.indicator {
	border: none !important;
	padding-top: 12px;
}

.nav-tabs > li.active > a.indicator {
	border-bottom: 2px solid red !important;
	color: red;
}

.nav-tabs h3 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}

.product-box div {
	margin-bottom: 0;
}

.product-grid .name a, .product-grid .price {
	font-family: 'Roboto Slab',Georgia,Times,serif;
	color: #f0141e;
}

.product-grid .product-box:hover .cart {
	display: inline-block;
}

.product-grid .product-box:hover .image > a{
	border: 1px solid #ccc;
    padding: 5px;
    margin: -5px;
    border-radius: 3px;
    box-shadow: 0 0 3px #e0e0e0;
}

.product-grid .action {
	position: relative;
}

.product-grid .image img, .gt-product-info .image img {
	width: 100%;
}

.product-grid .image > a, .product-grid .name > a {
	display: block;
}

.product-grid .image > a{
	border: white 1px solid;
	transition: border-color 0.25s ease-in-out 0s;
	-webkit-transition: border-color 0.25s ease-in-out 0s;
	-moz-transition: border-color 0.25s ease-in-out 0s;
}

.product-grid .cart {
	width: 40px;
	height: 40px;
	bottom: 6px;
	right: 3px;
	position: absolute;
	display: none;
}

.product-grid .cart .btn {
	background: url(http://ja-bookshop.demo.joomlart.com/components/com_mijoshop/opencart/catalog/view/theme/bookshop/image/icon-cart.png) no-repeat center center #f0141e;
	width: 40px;
	height: 40px;
}

.product-grid .cart .btn:focus {
	outline: none;
}

.product-grid .name, .product-grid .rating, 
.product-grid .price {
	margin-top: 5px;
	text-align: right;
}

/*Product Info*/
.gt-product-info .image {
	margin-bottom: 20px;
}

.gt-product-info .image a {
	padding: 10px;
    border: 1px #eee solid;
    display: block;
}
.gt-product-info .image-thumb > a {
	display: block;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

.gt-product-info .product-title > h2 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.gt-product-info a {
	color: #f0141e;
}

.gt-product-info .review {
	margin-bottom: 10px;
}

.gt-product-info .review .share {
	margin-top: 10px;
}

.gt-product-info .description {
	margin-bottom: 10px;
}

.gt-product-info .price {
	font-size: 250%;
}

.gt-product-info .tax {
	font-weight: normal;
	font-size: 12px;
	color: #aaa;
}

.input-qty {
	width: 100px;
	font-size: 14px;
	text-indent: 10px;
	display: inline-block;
	padding: 0;
}

.gt-product-info .cart, .gt-product-info .cart .actions {
	margin-top: 20px;
}

.gt-product-info .cart .actions .btn {
	background-image: url(http://ja-bookshop.demo.joomlart.com/components/com_mijoshop/opencart/catalog/view/theme/bookshop/image/icon-cart.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f0141e;
	border: 1px #dc0e17 solid;
	float: left;
}

.gt-product-info .cart .actions a {
	float: left;
	display: block;
	margin-left: 10px;
	border: 1px #eee solid;
	transition: box-shadow ease-in 0.2s;
}

.gt-product-info .cart .actions a:hover .glyphicon {
	color: #f0141e;
}

.gt-product-info .cart .actions a:hover{
	box-shadow: 0 0 5px 2px #ddd;
}

.gt-product-info .cart .actions .glyphicon {
	padding: 10px;
	font-size: 150%;
	color: #aaa;
	transition: all ease-in 0.2s;
}

share-button {
	font-size: 12px;
	font-weight: 600;
	background-color: #FFE73F;
}

