/*===============================
/components/com_mijoshop/opencart/catalog/view/theme/default/stylesheet/stylesheet.css
================================================================================*/

h1,
.welcome {
    font-family: Verdana;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(0, 0, 0, .01)
}
.mijoshop_heading_h1 {
    border: 0px !important;
    color: #333 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 14px !important;
    margin: 0px !important;
    padding: 0px !important;
    text-transform: none !important
}
h2 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px
}
p {
    margin-top: 0px;
    margin-bottom: 20px
}
a,
a:visited,
a b {
    cursor: pointer
}
a:hover {
    text-decoration: none
}
a img {
    border: none
}
form {
    padding: 0;
    margin: 0;
}
input[type='text'],
input[type='password'],
textarea {
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    padding: 3px;
    margin-left: 0px;
    margin-right: 0px
}
select {
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    padding: 2px
}
label {
    cursor: pointer
}
table.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px
}
table.form tr td:first-child {
    width: 150px
}
table.form > * > * > td {}table.form td {
    padding: 4px
}
input.large-field,
select.large-field {
    width: 100%
}
table.list {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px
}
table.list td {
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD
}
table.list thead td {
    background-color: #EFEFEF;
    padding: 0px 5px
}
table.list thead td a,
.list thead td {
    text-decoration: none;
    color: #222222;
    font-weight: bold
}
table.list tbody td a {
    text-decoration: underline
}
table.list tbody td {
    vertical-align: top;
    padding: 0px 5px
}
table.list .left {
    text-align: left;
    padding: 7px
}
table.list .right {
    text-align: right;
    padding: 7px
}
table.list .center {
    text-align: center;
    padding: 7px
}
table.radio {
    width: 100%;
    border-collapse: collapse
}
table.radio td {
    padding: 5px;
    vertical-align: top
}
table.radio td label {
    display: block
}
table.radio tr td:first-child {
    width: 1px
}
table.radio tr td:first-child input {
    margin-top: 0px !important;
    margin-left: 0px !important
}
table.radio tr.highlight:hover td {
    cursor: pointer
}
.pagination {
    border-top: 1px solid #EEEEEE;
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px
}
.pagination .links {
    float: left
}
.pagination .links a {
    display: inline-block;
    border: 1px solid #EEEEEE;
    padding: 4px 10px;
    text-decoration: none
}
.pagination .links b {
    display: inline-block;
    border: 1px solid #269BC6;
    padding: 4px 10px;
    font-weight: normal;
    text-decoration: none;
    background: #FFFFFF
}
.pagination .results {
    float: right;
    padding-top: 3px
}
a.button_oc,
input.button_oc {
    cursor: pointer !important;
    color: #FFFFFF !important;
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
    background: url('button.png') top left repeat-x;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -khtml-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD
}
a.button_oc {
    display: inline-block;
    text-decoration: none !important;
    padding: 6px 12px 6px 12px
}
input.button_oc {
    margin: 0;
    border: 0;
    height: 24px;
    padding: 0px 12px 0px 12px
}
a.button_oc:hover,
input.button_oc:hover {
    background: url('button-active.png') repeat-x
}
.buttons {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    overflow: auto;
    padding: 6px;
    margin-bottom: 20px
}
.buttons .left {
    float: left;
    text-align: left
}
.buttons .right {
    float: right;
    text-align: right
}
.buttons .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}
.box_oc {
    margin-bottom: 20px
}
.box_oc .box-heading {
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    border: 1px solid #DBDEE1;
    background: url('background.png') repeat-x;
    padding: 8px 10px 7px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #333
}
.box_oc .box-content {
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -khtml-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    border-left: 1px solid #DBDEE1;
    border-right: 1px solid #DBDEE1;
    border-bottom: 1px solid #DBDEE1;
    padding: 10px;
    margin: 0px
}
.box-product {
    width: 100%;
    overflow: hidden;
    margin-left: 38px
}
.box-product > div {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px
}
#column-left + #column-right + #content_oc .box-product > div {
    width: 119px
}
.box-product .image {
    display: block;
    margin-bottom: 0px
}
.box-product .image img {
    padding: 3px;
    border: 1px solid #E7E7E7
}
#main .box-product .image img:hover {
    background-color: #FFFFFF
}
.box-product .name a {
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 4px
}
.box-product .price {
    display: block;
    font-weight: bold;
    margin-bottom: 4px
}
.box-product .price-old {
    text-decoration: line-through
}
.box-product .price-new {
    font-weight: bold
}
.box-product .rating {
    display: block;
    margin-bottom: 4px
}
.box-category {
    margin-top: -5px
}
.box-category ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.box-category > ul > li {}.box-category > ul > li + li {
    border-top: 1px solid #EEEEEE
}
.box-category > ul > li > a {
    text-decoration: none
}
.box-category > ul > li ul {
    display: none
}
.box-category > ul > li a.active {
    font-weight: bold
}
.box-category > ul > li a.active + ul {
    display: block
}
.box-category > ul > li ul > li {}.box-category > ul > li ul > li > a {
    text-decoration: none;
    display: block
}
.box-category > ul > li ul > li > a.active {
    font-weight: bold
}
ul.box-filter,
ul.box-filter ul {
    list-style: none;
    margin: 0;
    padding: 0
}
ul.box-filter span {
    font-weight: bold;
    border-bottom: 1px solid #EEEEEE;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 8px
}
ul.box-filter > li ul {
    padding-bottom: 10px
}
.content_oc {
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    border: 1px solid #EEEEEE
}
.content_oc .left {
    float: left;
    width: 49%
}
.content_oc .right {
    float: right;
    width: 49%
}
.category-info {
    overflow: auto;
    margin-bottom: 20px
}
.category-info .image {
    float: left;
    padding: 5px;
    margin-right: 15px;
    border: 1px solid #E7E7E7
}
.category-list {
    overflow: auto;
    margin-bottom: 20px
}
.category-list ul {
    float: left;
    width: 18%
}
.manufacturer-list {
    border: 1px solid #DBDEE1;
    padding: 5px;
    overflow: auto;
    margin-bottom: 20px
}
.manufacturer-heading {
    background: #F8F8F8;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 8px;
    margin-bottom: 6px
}
.manufacturer-content {
    padding: 8px
}
.manufacturer-list ul {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px
}
.product-filter {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 5px;
    overflow: auto
}
.product-filter .display {
    margin-right: 15px;
    float: left;
    padding-top: 4px
}
.product-filter .display a {
    font-weight: bold
}
.product-filter .sort {
    float: right
}
.product-filter .limit {
    margin-left: 15px;
    float: right
}
.product-compare {
    padding-top: 6px;
    margin-bottom: 25px;
    font-weight: bold
}
.product-compare a {
    text-decoration: none;
    font-weight: bold
}
.product-list > div {
    overflow: auto;
    margin-bottom: 15px
}
.product-list .right {
    float: right;
    margin-left: 15px
}
.product-list .left {
    float: none;
    width: auto
}
.product-list > div + div {
    border-top: 1px solid #EEEEEE;
    padding-top: 16px
}
.product-list .image {
    float: left;
    margin-right: 10px
}
.product-list .image img {
    padding: 3px;
    border: 1px solid #E7E7E7
}
.product-list .name {
    margin-bottom: 3px
}
.product-list .name a {
    font-weight: bold;
    text-decoration: none
}
.product-list .description {
    line-height: 15px;
    margin-bottom: 5px
}
.product-list .rating {}.product-list .price {
    float: right;
    height: 50px;
    margin-left: 8px;
    text-align: right;
    font-size: 12px
}
.product-list .price-old {
    text-decoration: line-through
}
.product-list .price-new {
    font-weight: bold
}
.product-list .price-tax {
    font-size: 12px;
    font-weight: normal
}
.product-list .cart {
    margin-bottom: 3px
}
.product-list .wishlist,
.product-list .compare {
    margin-bottom: 3px
}
.product-list .wishlist a {
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('add.png') left center no-repeat
}
.product-list .compare a {
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('add.png') left 60% no-repeat
}
.product-grid {
    width: 100%;
    overflow: auto
}
.product-grid > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px
}
.product-grid > div {
    width: 125px
}
.product-grid .image {
    display: block;
    margin-bottom: 0px
}
.product-grid .image img {
    padding: 3px;
    border: 1px solid #E7E7E7
}
.product-grid .name a {
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 4px
}
.product-grid .description {
    display: none
}
.product-grid .rating {
    display: block;
    margin-bottom: 4px
}
.product-grid .price {
    display: block;
    font-weight: bold;
    margin-bottom: 4px
}
.product-grid .price-old {
    text-decoration: line-through
}
.product-grid .price-new {
    font-weight: bold
}
.product-grid .price .price-tax {
    display: none
}
.product-grid .cart {
    margin-bottom: 3px
}
.product-grid .wishlist,
.product-grid .compare {
    margin-bottom: 3px
}
.product-grid .wishlist a {
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('add.png') left center no-repeat
}
.product-grid .compare a {
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('add.png') left center no-repeat
}
.product-info {
    overflow: auto;
    margin-bottom: 20px
}
.product-info > .left {
    float: left;
    width: 38% !important
}
.product-info > .right {
    float: right;
    width: 59% !important
}
.product-info .image {
    border: 1px solid #E7E7E7;
    float: left;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center
}
.product-info .image-additional {
    width: 200px;
    margin-left: -10px;
    clear: both;
    overflow: hidden
}
.product-info .image-additional img {
    border: 1px solid #E7E7E7
}
.product-info .image-additional a {
    float: left;
    display: block;
    margin-left: 10px;
    margin-bottom: 10px
}
.product-info .description {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
    line-height: 20px
}
.product-info .description span {}.product-info .description a {
    text-decoration: none
}
.product-info .price {
    overflow: auto;
    border-bottom: 1px solid #E7E7E7;
    padding: 0px 5px 10px 5px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold
}
.product-info .price-old {
    text-decoration: line-through
}
.product-info .price-new {}.product-info .price-tax {
    font-size: 12px;
    font-weight: normal
}
.product-info .price .reward {
    font-size: 12px;
    font-weight: normal
}
.product-info .price .discount {
    font-size: 12px;
    font-weight: normal
}
.product-info .options {
    border-bottom: 1px solid #E7E7E7;
    padding: 0px 5px 10px 5px;
    margin-bottom: 10px
}
.product-info .option-image {
    margin-top: 3px;
    margin-bottom: 10px
}
.product-info .option-image label {
    display: block;
    width: 100%;
    height: 100%
}
.product-info .option-image img {
    margin-right: 5px;
    border: 1px solid #CCCCCC;
    cursor: pointer
}
.product-info .cart {
    border-bottom: 1px solid #E7E7E7;
    padding: 0px 5px 10px 5px;
    margin-bottom: 20px;
    overflow: auto
}
.product-info .cart div {
    float: left;
    vertical-align: middle
}
.product-info .cart div > span {
    padding-top: 7px;
    display: block
}
.product-info .cart .minimum {
    padding-top: 5px;
    font-size: 11px;
    clear: both
}
.product-info .review {
    border-top: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    margin-bottom: 10px
}
.product-info .review > div {
    padding: 8px;
    border-bottom: 1px solid #E7E7E7;
    line-height: 20px
}
.product-info .review > div > span {}.product-info .review .share {
    overflow: auto;
    line-height: normal
}
.product-info .review .share a {
    text-decoration: none
}
.review-list {
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    border: 1px solid #EEEEEE
}
.review-list .author {
    float: left;
    margin-bottom: 20px
}
.review-list .rating {
    float: right;
    margin-bottom: 20px
}
.review-list .text {
    clear: both
}
.attribute {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px
}
.attribute thead td,
.attribute thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left
}
.attribute tr td:first-child {
    color: #000000;
    font-weight: bold;
    text-align: right;
    width: 20%
}
.attribute td {
    padding: 7px;
    color: #4D4D4D;
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD
}
.compare-info {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px
}
.compare-info thead td,
.compare-info thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left
}
.compare-info tr td:first-child {
    color: #000000;
    font-weight: bold;
    text-align: right
}
.compare-info td {
    padding: 7px;
    width: 20%;
    color: #4D4D4D;
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD
}
.compare-info .name a {
    font-weight: bold
}
.compare-info .price-old {
    font-weight: bold;
    text-decoration: line-through
}
.compare-info .price-new {
    font-weight: bold
}
.wishlist-info table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin-bottom: 20px
}
.wishlist-info td {
    padding: 7px
}
.wishlist-info thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD
}
.wishlist-info thead .image {
    text-align: center
}
.wishlist-info thead .name,
.wishlist-info thead .model,
.wishlist-info thead .stock {
    text-align: left
}
.wishlist-info thead .quantity,
.wishlist-info thead .price,
.wishlist-info thead .total,
.wishlist-info thead .action {
    text-align: right
}
.wishlist-info tbody td {
    vertical-align: top;
    border-bottom: 1px solid #DDDDDD
}
.wishlist-info tbody .image img {
    border: 1px solid #DDDDDD
}
.wishlist-info tbody .image {
    text-align: center
}
.wishlist-info tbody .name,
.wishlist-info tbody .model,
.wishlist-info tbody .stock {
    text-align: left
}
.wishlist-info tbody .quantity,
.wishlist-info tbody .price,
.wishlist-info tbody .total,
.wishlist-info tbody .action {
    text-align: right
}
.wishlist-info tbody .price s {
    color: #F00
}
.wishlist-info tbody .action img {
    cursor: pointer
}
.login-content {
    margin-bottom: 20px;
    overflow: auto
}
.login-content .left {
    float: left;
    width: 48%
}
.login-content .right {
    float: right;
    width: 48%
}
.login-content .left .content_oc,
.login-content .right .content_oc {
    min-height: 190px
}
.order-list {
    margin-bottom: 10px
}
.order-list .order-id {
    width: 49%;
    float: left;
    margin-bottom: 2px
}
.order-list .order-status {
    width: 49%;
    float: right;
    text-align: right;
    margin-bottom: 2px
}
.order-list .order-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE
}
.order-list .order-content div {
    float: left;
    width: 33.3%
}
.order-list .order-info {
    text-align: right
}
.order-detail {
    background: #EFEFEF;
    font-weight: bold
}
.return-list {
    margin-bottom: 10px
}
.return-list .return-id {
    width: 49%;
    float: left;
    margin-bottom: 2px
}
.return-list .return-status {
    width: 49%;
    float: right;
    text-align: right;
    margin-bottom: 2px
}
.return-list .return-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE
}
.return-list .return-content div {
    float: left;
    width: 33.3%
}
.return-list .return-info {
    text-align: right
}
.return-product {
    overflow: auto;
    margin-bottom: 20px
}
.return-name {
    float: left;
    width: 33.3%
}
.return-model {
    float: left;
    width: 33.3%
}
.return-quantity {
    float: left;
    width: 33.3%
}
.return-detail {
    overflow: auto;
    margin-bottom: 20px
}
.return-reason {
    float: left;
    width: 33.3%
}
.return-opened {
    float: left;
    width: 33.3%
}
.return-opened textarea {
    width: 98%;
    vertical-align: top
}
.return-captcha {
    float: left
}
.download-list {
    margin-bottom: 10px
}
.download-list .download-id {
    width: 49%;
    float: left;
    margin-bottom: 2px
}
.download-list .download-status {
    width: 49%;
    float: right;
    text-align: right;
    margin-bottom: 2px
}
.download-list .download-content {
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE
}
.download-list .download-content div {
    float: left;
    width: 33.3%
}
.download-list .download-info {
    text-align: right
}
.cart-info table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD
}
.cart-info td {
    padding: 7px
}
.cart-info thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD
}
.cart-info thead .image {
    text-align: center
}
.cart-info thead .name,
.cart-info thead .model,
.cart-info thead .quantity {
    text-align: left
}
.cart-info thead .price,
.cart-info thead .total {
    text-align: right
}
.cart-info tbody td {
    vertical-align: top;
    border-bottom: 1px solid #DDDDDD
}
.cart-info tbody .image img {
    border: 1px solid #DDDDDD
}
.cart-info tbody .image {
    text-align: center
}
.cart-info tbody .name,
.cart-info tbody .model,
.cart-info tbody .quantity {
    text-align: left
}
.cart-info tbody .quantity input[type='image'],
.cart-info tbody .quantity img {
    position: relative;
    top: 4px;
    cursor: pointer
}
.cart-info tbody .price,
.cart-info tbody .total {
    text-align: right
}
.cart-info tbody span.stock {
    font-weight: bold
}
.cart-module > div {}.cart-total {
    border-top: 1px solid #DDDDDD;
    overflow: auto;
    padding-top: 8px;
    margin-bottom: 15px
}
.cart-total table {
    float: right
}
.cart-total td {
    padding: 3px;
    text-align: right
}
.checkout-heading {
    border: 1px solid #DBDEE1;
    padding: 8px;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 15px
}
.checkout-heading a {
    float: right;
    margin-top: 1px;
    font-weight: normal;
    text-decoration: none
}
.checkout-content {
    padding: 0px 0px 15px 0px;
    display: none;
    overflow: hidden
}
.checkout-content .left {
    float: left;
    width: 48%
}
.checkout-content .right {
    float: right;
    width: 48%
}
.checkout-content .buttons {
    clear: both
}
.checkout-product table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin-bottom: 20px
}
.checkout-product td {
    padding: 7px
}
.checkout-product thead td {
    color: #4D4D4D;
    font-weight: bold;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DDDDDD
}
.checkout-product thead .name,
.checkout-product thead .model {
    text-align: left
}
.checkout-product thead .quantity,
.checkout-product thead .price,
.checkout-product thead .total {
    text-align: right
}
.checkout-product tbody td {
    vertical-align: top;
    border-bottom: 1px solid #DDDDDD
}
.checkout-product tbody .name,
.checkout-product tbody .model {
    text-align: left
}
.checkout-product tbody .quantity,
.checkout-product tbody .price,
.checkout-product tbody .total {
    text-align: right
}
.checkout-product tfoot td {
    text-align: right;
    border-bottom: 1px solid #DDDDDD
}
.contact-info {
    overflow: auto
}
.contact-info .left {
    float: left;
    width: 48%
}
.contact-info .right {
    float: left;
    width: 48%
}
.sitemap-info {
    overflow: auto;
    margin-bottom: 40px
}
.sitemap-info .left {
    float: left;
    width: 48%
}
.sitemap-info .right {
    float: left;
    width: 48%
}
/*#footer_oc {
    clear: both;
    overflow: hidden;
    min-height: 135px;
    padding: 20px;
    border-top: 1px solid #DBDEE1;
    border-bottom: 1px solid #DBDEE1
}
#footer_oc h3 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 8px
}
#footer_oc .column {
    float: left;
    width: 25%;
    min-height: 135px
}
#footer_oc .column ul {
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 12px
}
#footer_oc .column ul li {
    margin-bottom: 3px
}
#footer_oc .column a {
    text-decoration: none
}
#footer_oc .column a:hover {
    text-decoration: underline
}
#powered {
    margin-top: 5px;
    text-align: right;
    clear: both
}
.banner_oc div {
    text-align: center;
    width: 100%;
    display: none
}
.banner div img {
    margin-bottom: 20px
}
#module_cart .content_oc {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #EEEEEE;
    border-radius: 0 7px 7px 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 2px #DDDDDD;
    clear: both;
    display: none;
    min-height: 150px;
    padding: 8px;
    position: relative;
    top: -1px
}
#module_cart.active .heading {
    border-left: 1px solid #EEEEEE;
    border-radius: 7px 7px 0 0;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin-top: 5px;
    padding-bottom: 6px;
    padding-top: 10px
}
#module_cart.active .content {
    display: block
}
#module_cart .cart {
    border-collapse: collapse;
    margin-bottom: 5px;
    width: 100%
}
#module_cart .cart td {
    border-bottom: 1px solid #EEEEEE;
    color: #000000;
    padding: 2px 3px;
    vertical-align: top
}
#module_cart .cart .image {
    display: none
}
#module_cart .cart .image img {
    border: 1px solid #EEEEEE;
    text-align: left
}
#module_cart .cart .name small {
    color: #666666;
    line-height: 14px
}
#module_cart .cart td.total,
#module_cart .cart td.quantity {
    text-align: right;
    vertical-align: middle
}
#module_cart .cart .remove {
    text-align: right;
    padding: 0 2px;
    vertical-align: middle
}
#module_cart .cart .remove img {
    cursor: pointer
}
#module_cart table.total {
    border-collapse: collapse;
    clear: left;
    float: right;
    margin-bottom: 5px;
    padding: 5px
}
#module_cart table.total td {
    color: #000000
}
#module_cart .checkout {
    clear: both;
    text-align: right
}
#module_cart .empty {
    text-align: center
}*/
/*===============================
/components/com_mijoshop/opencart/catalog/view/theme/bookshop/stylesheet/jamijoaccordion.css
================================================================================*/

.liteAccordion > ol {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none
}
.liteAccordion > ol > li {
    list-style-type: none
}
.liteAccordion .slide > h2 {
    color: black;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background: #181818;
    padding: 20px;
    border-right: 1px solid #333
}
.liteAccordion .slide > h2.selected {
    border-right-color: #080808;
    background-color: #080808
}
.liteAccordion .slide > h2 > img {
    max-width: 100%;
    height: auto
}
.liteAccordion .slide > div {
    position: absolute;
    top: 0;
    z-index: 10;
    overflow: hidden;
    background: #080808;
    margin-left: 20px;
    padding-top: 20px;
    color: #888;
    height: 100%
}
.liteAccordion .slide.current > div {
    margin-left: 0
}
.liteAccordion .slide > div .name {
    color: #fff;
    font-family: 'Roboto Slab', Georgia, Times, serif;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 0
}
.liteAccordion .slide > div .actions {
    margin-top: 20px
}
.liteAccordion .slide > div .cart {
    float: left;
    margin-bottom: 0
}
.liteAccordion .slide > div .cart .btn {
    background-image: url(icon-cart.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: normal
}
.liteAccordion .slide > div .wishlist,
.liteAccordion .slide > div .compare {
    float: left;
    margin-top: 8px
}
.liteAccordion .slide > div .wishlist a,
.liteAccordion .slide > div .compare a {
    width: 38px;
    line-height: normal;
    text-align: center;
    padding: 0;
    overflow: hidden;
    border: 1px solid #eee;
    color: #aaa;
    margin-left: 10px;
    background: #fff;
    padding: 10px
}
.liteAccordion .slide > div .wishlist a:hover,
.liteAccordion .slide > div .compare a:hover {
    color: #333
}
#jaliteAccordion {
    position: relative
}
#preload {
    background: url("ajax-loader.gif") no-repeat;
    width: 128px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin-left: -64px
}
/*===============================
/components/com_mijoshop/opencart/catalog/view/theme/bookshop/stylesheet/stylesheet.css
================================================================================*/

@import url(colorbox.css);
.mijoshop_heading_h1 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    color: #000 !important;
    text-transform: uppercase !important;
    line-height: 20px !important;
    font-weight: 400
}
.box-product .price,
.box-product .price-new,
.product-grid .price,
.product-grid .price-new,
.product-info .price,
.product-info .price-new,
.ja-product-grid .price,
.ja-product-grid .price-new {
    color: #f0141e;
    font-size: 14px;
    font-family: 'Roboto Slab', Georgia, Times, serif;
    font-weight: normal
}
.price-new {
    color: #f0141e;
    font-size: 14px;
    font-family: 'Roboto Slab', Georgia, Times, serif;
    font-weight: normal
}
.price-old {
    color: #999;
    text-decoration: line-through
}
.box-content img {
    max-width: 100%
}
.box-content .content-image {
    margin-bottom: 20px
}
.box_oc .box-heading {
    background: none;
    border: 0;
    border-bottom: 1px solid #000;
    color: #000;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 0 0 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif
}
.box_oc .box-content {
    border: 0;
    padding: 0
}
.product-grid,
.ja-product-grid {
    margin: 0 -15px;
    width: auto
}
.product-grid > div,
.ja-product-grid > div {
    margin: 0;
    padding: 5px 15px 25px;
    width: 100%
}
.ja-product-grid > div:nth-child(5n+1) {
    clear: none
}
@media (min-width: 768px) {
    .product-grid.row-5 > div,
    .ja-product-grid > div {
        width: 20%;
        float: left
    }
    .product-grid.row-1 > div {
        float: left;
        width: 100%
    }
    .product-grid.row-2 > div {
        float: left;
        width: 50%
    }
    .product-grid.row-3 > div {
        float: left;
        width: 33.33%
    }
    .product-grid.row-4 > div {
        float: left;
        width: 25%
    }
    .product-grid.row-6 > div {
        float: left;
        width: 16.66%
    }
    .product-grid.row-7 > div {
        float: left;
        width: 14.28%
    }
    .product-grid.row-8 > div {
        float: left;
        width: 12.5%
    }
    .product-grid.row-9 > div {
        float: left;
        width: 11.11%
    }
    .product-grid.row-10 > div {
        float: left;
        width: 10%
    }
    .product-grid.row-2 > div.product-item-2,
    .product-grid.row-2 > div.product-item-4,
    .product-grid.row-2 > div.product-item-6,
    .product-grid.row-2 > div.product-item-8,
    .product-grid.row-2 > div.product-item-10,
    .product-grid.row-2 > div.product-item-12,
    .product-grid.row-2 > div.product-item-14,
    .product-grid.row-2 > div.product-item-16,
    .product-grid.row-2 > div.product-item-18,
    .product-grid.row-2 > div.product-item-20,
    .product-grid.row-2 > div.product-item-22,
    .product-grid.row-2 > div.product-item-24,
    .product-grid.row-2 > div.product-item-26,
    .product-grid.row-2 > div.product-item-28,
    .product-grid.row-2 > div.product-item-30,
    .product-grid.row-2 > div.product-item-32,
    .product-grid.row-2 > div.product-item-34,
    .product-grid.row-2 > div.product-item-36,
    .product-grid.row-2 > div.product-item-38,
    .product-grid.row-2 > div.product-item-40,
    .product-grid.row-2 > div.product-item-42,
    .product-grid.row-2 > div.product-item-44,
    .product-grid.row-2 > div.product-item-46,
    .product-grid.row-2 > div.product-item-48,
    .product-grid.row-2 > div.product-item-50 {
        clear: both
    }
    .product-grid.row-3 > div.product-item-3,
    .product-grid.row-3 > div.product-item-6,
    .product-grid.row-3 > div.product-item-9,
    .product-grid.row-3 > div.product-item-12,
    .product-grid.row-3 > div.product-item-15,
    .product-grid.row-3 > div.product-item-18,
    .product-grid.row-3 > div.product-item-21,
    .product-grid.row-3 > div.product-item-24,
    .product-grid.row-3 > div.product-item-27,
    .product-grid.row-3 > div.product-item-30,
    .product-grid.row-3 > div.product-item-33,
    .product-grid.row-3 > div.product-item-36,
    .product-grid.row-3 > div.product-item-39,
    .product-grid.row-3 > div.product-item-42,
    .product-grid.row-3 > div.product-item-45,
    .product-grid.row-3 > div.product-item-48 {
        clear: both
    }
    .product-grid.row-4 > div.product-item-4,
    .product-grid.row-4 > div.product-item-8,
    .product-grid.row-4 > div.product-item-12,
    .product-grid.row-4 > div.product-item-16,
    .product-grid.row-4 > div.product-item-20,
    .product-grid.row-4 > div.product-item-24,
    .product-grid.row-4 > div.product-item-28,
    .product-grid.row-4 > div.product-item-32,
    .product-grid.row-4 > div.product-item-36,
    .product-grid.row-4 > div.product-item-40,
    .product-grid.row-4 > div.product-item-44,
    .product-grid.row-4 > div.product-item-48 {
        clear: both
    }
    .product-grid.row-5 > div.product-item-5,
    .product-grid.row-5 > div.product-item-10,
    .product-grid.row-5 > div.product-item-15,
    .product-grid.row-5 > div.product-item-20,
    .product-grid.row-5 > div.product-item-25,
    .product-grid.row-5 > div.product-item-30,
    .product-grid.row-5 > div.product-item-35,
    .product-grid.row-5 > div.product-item-40,
    .product-grid.row-5 > div.product-item-45,
    .product-grid.row-5 > div.product-item-50 {
        clear: both
    }
    .ja-product-grid > div:nth-child(5n+1) {
        clear: both
    }
    .product-grid.row-6 > div.product-item-6,
    .product-grid.row-6 > div.product-item-12,
    .product-grid.row-6 > div.product-item-18,
    .product-grid.row-6 > div.product-item-24,
    .product-grid.row-6 > div.product-item-30,
    .product-grid.row-6 > div.product-item-36,
    .product-grid.row-6 > div.product-item-42,
    .product-grid.row-6 > div.product-item-48 {
        clear: both
    }
    .product-grid.row-7 > div.product-item-7,
    .product-grid.row-7 > div.product-item-14,
    .product-grid.row-7 > div.product-item-21,
    .product-grid.row-7 > div.product-item-28,
    .product-grid.row-7 > div.product-item-35,
    .product-grid.row-7 > div.product-item-42,
    .product-grid.row-7 > div.product-item-49 {
        clear: both
    }
    .product-grid.row-8 > div.product-item-8,
    .product-grid.row-8 > div.product-item-16,
    .product-grid.row-8 > div.product-item-24,
    .product-grid.row-8 > div.product-item-32,
    .product-grid.row-8 > div.product-item-40,
    .product-grid.row-8 > div.product-item-48 {
        clear: both
    }
    .product-grid.row-9 > div.product-item-9,
    .product-grid.row-9 > div.product-item-18,
    .product-grid.row-9 > div.product-item-27,
    .product-grid.row-9 > div.product-item-36,
    .product-grid.row-9 > div.product-item-45 {
        clear: both
    }
}
@media screen and (max-width: 480px) {
    .product-grid.row > div,
    .ja-product-grid > div {
        width: 50%;
        float: left
    }
    .product-grid.row > div:nth-child(2n+1),
    .ja-product-grid.row > div:nth-child(2n+1) {
        clear: both
    }
    .product-grid.row-5 > div:nth-child(5n+1),
    .product-grid.row-4 > div:nth-child(4n+1),
    .product-grid.row-3 > div:nth-child(3n+1),
    .product-grid.row-2 > div:nth-child(2n+1),
    .product-grid.row-1 > div,
    .ja-product-grid > div:nth-child(5n+1) {
        clear: none
    }
    .cart-info tbody td:first-child,
    .cart-info thead td:first-child,
    .cart-info tbody td:nth-child(3),
    .cart-info thead td:nth-child(3) {
        display: none
    }
}
@media (max-width: 320px) {
    .cart-info tbody td:first-child,
    .cart-info thead td:first-child,
    .cart-info tbody td:nth-child(3),
    .cart-info thead td:nth-child(3),
    .cart-info tbody td:nth-child(6),
    .cart-info thead td:nth-child(6) {
        display: none
    }
}
.product-grid .actions,
.ja-product-grid .actions {
    position: relative
}
.product-grid .image,
.ja-product-grid .image {
    margin-bottom: 10px
}
.product-grid .image > a,
.ja-product-grid .image > a {
    border: 1px solid #fff;
    display: block;
    padding: 0;
    position: relative;
    outline: none;
    transition: border-color 0.25s ease-in-out 0s
}
.product-grid > div:hover .image > a,
.ja-product-grid > div:hover .image > a {
    border: 1px solid #ccc;
    padding: 5px;
    margin: -5px;
    border-radius: 3px;
    box-shadow: 0 0 3px #e0e0e0
}
.product-grid .image img,
.ja-product-grid .image img {
    border: 0;
    padding: 0;
    max-width: 100%
}
.product-grid .name a,
.ja-product-grid .name a {
    color: #000;
    display: block;
    font-family: 'Roboto Slab', Georgia, Times, serif;
    padding: 0;
    font-weight: normal;
    font-size: 14px
}
.product-grid > div:hover .name a,
.product-grid .name a:hover,
.product-grid .name a:focus,
.product-grid .name a:active,
.ja-product-grid > div:hover .name a,
.ja-product-grid .name a:hover,
.ja-product-grid .name a:focus,
.ja-product-grid .name a:active {
    color: #f0141e
}
.product-grid .cart,
.product-grid .wishlist,
.product-grid .compare,
.ja-product-grid .cart,
.ja-product-grid .wishlist,
.ja-product-grid .compare {
    margin-bottom: 0;
    display: none \9;
    width: 40px;
    height: 40px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    bottom: 6px
}
.product-grid .wishlist,
.ja-product-grid .wishlist {
    right: 80px
}
.product-grid .wishlist a,
.product-grid .compare a,
.ja-product-grid .wishlist a,
.ja-product-grid .compare a {
    background: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    display: block
}
.product-grid .cart,
.ja-product-grid .cart {
    right: 1px
}
.product-grid .cart .btn,
.box-product .cart .btn,
.ja-product-grid .cart .btn {
    text-indent: -999em;
    background: url(icon-cart.png) no-repeat center center #f0141e;
    width: 40px;
    height: 40px
}
.product-grid .compare,
.ja-product-grid .compare {
    right: 41px
}
.product-grid > div:hover .cart,
.product-grid > div:hover .compare,
.ja-product-grid > div:hover .cart,
.ja-product-grid > div:hover .compare {
    display: inline-block \9;
    opacity: 1
}
.mostviewed.product-grid .wishlist,
.betseller.product-grid .compare,
.betseller.product-grid .wishlist,
.mostviewed.product-grid .compare {
    display: none !important
}
.product-list .image {
    margin-right: 20px;
    float: none
}
.product-list .image img {
    padding: 0;
    border: 0;
    max-width: 100%
}
.product-list .left {
    padding-left: 15px;
    padding-right: 15px
}
.product-list .cart {
    float: left;
    margin-bottom: 0
}
.product-list .cart .btn {
    background-image: url(icon-cart.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: normal
}
.product-list .wishlist,
.product-list .compare {
    float: left
}
.product-list .wishlist a,
.product-list .compare a {
    width: 38px;
    line-height: normal;
    text-align: center;
    padding: 0;
    overflow: hidden;
    border: 1px solid #eee;
    color: #aaa;
    margin-left: 10px;
    background: #fff;
    padding: 10px
}
.product-list .wishlist a:hover,
.product-list .compare a:hover {
    color: #333
}
.product-list > div {
    margin-bottom: 20px
}
.product-list > div + div {
    padding-top: 20px
}
.product-list .name a {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 0
}
.product-list .name a:hover,
.product-list .name a:focus,
.product-list .name a:active {
    color: #f0141e
}
.product-list .rating {
    margin-bottom: 10px
}
.product-list .description {
    margin-bottom: 10px
}
.product-filter {
    background: #F5F5F5;
    border: 1px solid #ddd;
    color: #666;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden
}
.product-filter .display,
.product-filter .limit {
    margin: 0 20px;
    padding: 0
}
.product-filter .display > a,
.product-filter .display > span {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: -2px -2px 2px #f0f0f0 inset;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    margin: 6px 3px 0 0;
    padding: 1px 5px;
    width: 17px;
    color: #000
}
.product-filter .display > a {
    color: #ccc
}
.sub-select-box select {
    background: transparent;
    width: 155px;
    padding: 3px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 26px;
    -webkit-appearance: none;
    cursor: pointer
}
.select-box {
    width: 120px;
    height: 26px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    position: relative
}
.select-box:before {
    height: 26px;
    width: 28px;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: url(bg-drop-select.gif) no-repeat right;
    cursor: pointer
}
.sort .select-box {
    width: 150px
}
.sort .sub-select-box select {
    width: 175px
}
.sub-select-box {
    box-shadow: 0 0 2px 2px #f0f0f0 inset;
    float: left;
    height: 100%;
    width: 101%
}
.product-filter .sort {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 20px
}
@media screen and (max-width: 480px) {
    .product-filter .product-compare {
        display: none
    }
    .product-filter .display {
        display: none
    }
    .product-filter .sort {
        display: none
    }
}
.product-compare {
    padding: 0 20px;
    margin: 0;
    float: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}
.product-compare a:hover,
.product-compare a:focus,
.product-compare a:active {
    text-decoration: none;
    color: #000
}
.pagination {
    background: #F5F5F5;
    border: 1px solid #ddd;
    color: #666;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden
}
.pagination .links {
    margin-left: 20px;
    padding-top: 10px
}
.pagination .links a,
.pagination .links b {
    display: inline-block;
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px 2px #F0F0F0 inset
}
.pagination .links b,
.pagination .links a:hover,
.pagination .links a:focus,
.pagination .links a:active {
    color: #f0141e
}
.pagination .results {
    padding-top: 0;
    margin-right: 20px
}
.product-info {
    overflow: visible
}
.product-info .review .share a {
    width: 18px;
    height: 16px;
    overflow: hidden
}
.product-info .product-title {
    border-bottom: 0 !important;
    font-size: 250% !important;
    font-weight: normal !important;
    text-transform: none !important;
    margin-bottom: 20px !important;
    line-height: normal !important
}
.product-info .image img {
    width: 100%
}
.product-info .thumbnails .image-additional {
    border: 2px solid #fff;
    float: left;
    text-align: center;
    width: 25%
}
.product-info .thumbnails .image-additional a.thumbnail {
    padding-left: 0;
    margin: 0;
    text-align: center
}
.product-info .thumbnails .image-additional a.thumbnail:hover,
.product-info .thumbnails .image-additional a.thumbnail:focus,
.product-info .thumbnails .image-additional a.thumbnail:active {
    background-color: #ddd
}
.product-info .thumbnails .image-additional .thumbnail img {
    display: inline-block
}
.product-info #cloud-zoom-big {
    left: 0 !important;
    top: 0 !important;
    border: 0 !important
}
.product-info > .left {
    width: auto !important;
    margin-right: 20px
}
.product-info > .right {
    width: auto !important;
    float: left
}
.product-info .description {
    border: 0;
    padding: 0
}
.product-info .cart {
    border-bottom: 0;
    padding: 0
}
.product-info .price {
    border-bottom: 0;
    padding: 0;
    color: #000;
    font-size: 250%
}
.product-info .price br {
    display: none
}
.product-info .price span {
    color: #aaa;
    display: block
}
.product-info .price span.price-old {
    display: inline-block;
    font-size: 80%
}
.product-info .price span.price-new {
    display: inline-block;
    color: #000;
    font-size: 100%
}
.product-info .cart div {
    float: none;
    letter-spacing: 1px
}
.product-info .cart .actions {
    margin: 20px 0
}
.product-info .cart .btn {
    background-image: url(icon-cart.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
    float: left
}
.product-info a.wishlist,
.product-info a.compare {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    padding: 0;
    overflow: hidden;
    border: 1px solid #eee;
    color: #aaa;
    margin-left: 10px;
    background: #fff;
    float: left
}
.product-info a.wishlist:hover,
.product-info a.compare:hover {
    color: #333
}
.product-info .cart input[type="text"] {
    min-width: 50px;
    display: inline-block
}
.product-info .review {
    border: 0
}
.product-info .review > div {
    padding: 0 0 10px;
    border-bottom: 0
}
.product-info .options {
    padding-left: 0
}
.product-info .options h2 {
    margin-bottom: 0
}
.product-info .options .select-box {
    width: 160px
}
.product-info .options .select-box select {
    width: 190px
}

@media (min-width: 768px) and (max-width: 1024px) {
    .box-product.betseller > div .image a img,
    .box-product.latestproduct > div .image a img,
    .box-product.mostviewed > div .image a img,
    #related-products .product-grid > div .image a img {
        width: 100% !important
    }
    .product-filter .sort {
        padding-left: 15px;
        padding-right: 15px
    }
    .product-filter .display,
    .product-filter .limit {
        margin-left: 15px;
        margin-right: 15px
    }
    .box_oc .limit .select-box {
        width: 65px
    }
    .box_oc .limit .sub-select-box select {
        width: 55px
    }
}
@media (max-width: 767px) {
    .box-product.betseller > div,
    .box-product.latestproduct > div,
    .box-product.mostviewed > div,
    #related-products .product-grid > div,
    .ja-product-grid > div {
        width: 50% !important
    }
    .box-product.betseller > div:nth-child(2n+1),
    .box-product.latestproduct > div:nth-child(2n+1),
    .box-product.mostviewed > div:nth-child(2n+1),
    #related-products .product-grid > div:nth-child(2n+1),
    .ja-product-grid > div:nth-child(2n+1) {
        clear: both !important
    }
    .box-product.betseller > div .image a img,
    .box-product.latestproduct > div .image a img,
    .box-product.mostviewed > div .image a img,
    #related-products .product-grid > div .image a img {
        width: 100% !important
    }
    .product-list .image {
        margin-right: 0;
        margin-bottom: 15px
    }
    .product-list .left {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px
    }
    .product-info .image {
        width: 100% !important
    }
    #payment-method .checkout-content .right {
        width: 100% !important
    }
    .box_oc .buttons .btn.btn-primary[type="submit"],
    .box_oc .buttons #button-payment-method {
        display: block;
        margin-top: 3px;
        float: right
    }
    .box_oc .buttons #button-payment-method {
        text-align: right
    }
    .product-list .image {
        margin-right: 0;
        margin-bottom: 15px
    }
    .product-list .image img {
        width: 100% !important
    }
}
@media (max-width: 360px) {
    .box_oc input[type="text"],
    .box_oc input[type="email"],
    .box_oc input[type="password"],
    .box_oc textarea {
        min-width: 130px
    }
    .checkout-content input[type="text"],
    .checkout-content input[type="email"],
    .checkout-content input[type="password"],
    .checkout-content textarea {
        min-width: 80%
    }
}
@media screen and (max-width: 480px) {
    .htabs {
        float: none;
        width: 100%;
        margin-bottom: 0;
        border-top: 0
    }
    .htabs a {
        border: 1px solid #f0f0f0;
        border-bottom: 0;
        width: 100%
    }
    .htabs a.selected {
        padding-bottom: 10px
    }
    .view-checkout .checkout-content .left,
    .view-checkout .checkout-content .right {
        width: 100%;
        float: none
    }
    .view-checkout .buttons .right {
        margin-left: 0
    }
}