.pagination {
    border-top: 1px solid #EEEEEE;
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    background: #F5F5F5;
    border: 1px solid #ddd;
    color: #666;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden
}
.pagination .links {
    float: left;    
    margin-left: 20px;
    padding-top: 10px
}
.pagination .links a {
    border: 1px solid #EEEEEE;
    padding: 4px 10px;
    text-decoration: none
}
.pagination .links b {
    border: 1px solid #269BC6;
    padding: 4px 10px;
    font-weight: normal;
    text-decoration: none;
    background: #FFFFFF
}
.pagination .results {
    float: right;
    padding-top: 3px;
    padding-top: 0;
    margin-right: 20px
}
.pagination .links a,
.pagination .links b {
    display: inline-block;
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px 2px #F0F0F0 inset
}
.pagination .links b,
.pagination .links a:hover,
.pagination .links a:focus,
.pagination .links a:active {
    color: #f0141e
}
.htabs {
    margin-bottom: -1px;
    overflow: auto;
    float: left;
    width: 175px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 0;
    margin-right: -1px;
    margin-bottom: 20px
}
.htabs a {
    float: left;
    font-size: 13px;
    text-decoration: none;
    margin-right: 2px;
    display: none;
    width: 100%;
    text-align: left;
    background: #f5f5f5;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-right: 0;
    border-top: 0;
    text-transform: uppercase;
    font-family: 'Roboto Slab', Georgia, Times, serif;
    color: #000;
    font-weight: normal;
    padding: 10px 20px
}
.htabs a.selected {
    padding-bottom: 7px;
    color: #f0141e;
    background: #fff
}
.htabs a:hover,
.htabs a:focus,
.htabs a:active {
    color: #f0141e;
    text-decoration: none;
    outline: none
}
@media screen and (max-width: 480px) {
    .htabs {
        float: none;
        width: 100%;
        margin-bottom: 0;
        border-top: 0
    }
    .htabs a {
        border: 1px solid #f0f0f0;
        border-bottom: 0;
        width: 100%
    }
    .htabs a.selected {
        padding-bottom: 10px
    }
}
.tab-content {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
    z-index: 2;
    overflow: hidden;
    border-top: 1px solid #f0f0f0;
    border-color: #f0f0f0;
    padding: 20px;
    margin: 0
}
.review-list {
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    border: 1px solid #EEEEEE
}
.review-list .author {
    float: left;
    margin-bottom: 20px
}
.review-list .rating {
    float: right;
    margin-bottom: 20px
}
.review-list .text {
    clear: both
}
.attribute {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px
}
.attribute thead td,
.attribute thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left
}
.attribute tr td:first-child {
    color: #000000;
    font-weight: bold;
    text-align: right;
    width: 20%
}
.attribute td {
    padding: 7px;
    color: #4D4D4D;
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD
}
.tags {
    clear: both;
    margin-top: 20px
}

.t3-mainbody {
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    float: none !important
}
@media (max-width: 767px) {
    .t3-mainbody {
        padding-top: 20px;
        padding-bottom: 20px
    }
}
