@import url(https://fonts.googleapis.com/css?family=Roboto&subset=vietnamese,latin);

html,body{
	 height: 100%;
}

/*common*/
.gt-module {
    margin-bottom: 20px;
}

.module-title {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 2px #888 solid;
}

.content {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 1px #eee solid;
}

.column-left {
    border-right: 1px #eee solid;
}


/*end common*/

/*Gien toolbar*/
.toolbar {
  background-color: #181818;
  z-index:50;
}

.module {
  display: inline-block;
  padding: 10px 20px;
}

.module p {
  margin: 0;
}

.module p, .module a {
    color: #ccc;
}

.module a:hover {
  color: #f0141e;
}

.toolbar-phone, .toolbar .cart {
  border-right: 1px #333 solid;
}

.toolbar .cart, .toolbar .profile {
  float: right;
}


/*End Gien toolbar*/

.menu-D,
.menu-D a,
.menu-D ul,
.menu-D li,
.menu-D div,
.menu-D form,
.menu-D input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
   
}
.menu-D li a {
	text-decoration: none;
}
.menu-D li {
	list-style: none;
	
}
.menu-D {
	position: relative;
	z-index: 1;
}
.menu-D > li {
	display:block;
	float:left;
}
.menu-D > li > a{
	position:relative;
	display: block;
	padding: 20px;
	font-family:Arial;
	font-weight: bold;
	font-size:15px;
	color:#fcfcfc;
	text-shadow: 0 0 1px rgba(0,0,0,.35);

	background:#f0141e;
	border-left: 1px solid #dc0e17;
	

	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.menu-D > li:last-child > a{
	border-right: 1px solid #dc0e17;
}
.menu-D > li:hover > a { background-color: #dc0e17 }
.menu-D > li:hover > div {
	opacity:1;
}
.menu-D > li > div {
	position: absolute;
	display:block;
	width: auto;
	
	opacity:0;
	z-index:-1;
	visibility: hidden;
	overflow: hidden;
	background-color:#333333;


	-webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
   	
}
.menu-D > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}
.menu-D .nav-column {
	float:left;
	width: 200px;
	padding:2.5%;
	border-right:0.1px dotted #ccccaf;
}
.menu-D .nav-column:last-child {
	border-right:none;
}
.menu-D .nav-column h3{
	margin: 20px 0 10px 0;
	line-height: 18px;

	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.menu-D .nav-column li a{
	display:block;
	line-height: 26px;

	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
}
.menu-D .nav-column li a:hover {
	color:#F0141E;
}
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -150px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 300px;
  z-index:-1;
}
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.main{
  background-color: white;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}


.menu-icon-mini {
  margin-top:18px;
}

.header{ 
  margin-left:15px; 
  z-index:20;
  min-height: 65px;
}
.mini-menu-body {
  overflow-y:scroll;
  overflow-x:hidden;
  width: 250px;
  height:100%;
  background-color:black;
  position: absolute;
}

.slide-menu{
  min-height: 100%;
  position: absolute;
  left:-125px;
  width: 250px;
}
.mini-menu-body-nav{
  list-style-type:none;
  font-size:15px;
  color:#FFF;
  width:200px;
}
.current-actived {
  color:red;
}
.mini-menu-body-children {
  list-style-type: none;
}
.mini-menu-body-parent {
  list-style-type: none;
}
.mini-menu-body > ul > li {
  margin-top:17px;
  margin-left:-17px;
}
.mini-menu-body > ul > li > ul > li {
  margin-top:17px;
  margin-left:-17px;
}
.mini-menu-body > ul > li > ul > li > ul > li {
  margin-top:17px;
  margin-left:-17px;
}

.mini-menu-body ul li a{
  text-decoration: none;
  color:white;
}
.mini-menu-body ul li a:hover {
  color: red;
}
.X-button{
  font-size:20px;
  color:white;
  background-color:red;
  height:50px;
  width:50px;
  text-align: center;
  padding-top: 12px;
  opacity:0.7;
  transition: all 0.4s;
}
.X-button:hover{
  opacity: 1;
}
@media only screen and (max-width: 1122px) {
  .menu-D {
    display:none;
  }
}

/*Gien's section*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

body {
  font-size: 12px;
  font-family: 'Roboto',sans-serif;
}

.gt-tabs-title-top {
  border-bottom: 2px solid #FBFBFB;
  margin-bottom: 5px;
}

.nav-tabs > li > a.indicator {
  border: none !important;
  padding-top: 12px;
}

.nav-tabs > li.active > a.indicator {
  border-bottom: 2px solid red !important;
  color: red;
}

.nav-tabs h3 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.product-box div {
  margin-bottom: 0;
}

.gt-product-grid .name a, .gt-product-grid .price {
  font-family: 'Roboto Slab',Georgia,Times,serif;
  color: #f0141e;
  font-size: 14px;
}

.gt-product-grid .product-box:hover .cart {
  display: inline-block;
}

.gt-product-grid .product-box:hover .image > a{
  border: 1px solid #ccc;
    padding: 5px;
    margin: -5px;
    border-radius: 3px;
    box-shadow: 0 0 3px #e0e0e0;
}

.gt-product-grid .action {
  position: relative;
}

.gt-product-grid .image img, .product-info .image img {
  width: 100%;
}

.gt-product-grid .image > a, .gt-product-grid .name > a {
  display: block;
}

.gt-product-grid .image > a{
  border: white 1px solid;
  transition: border-color 0.25s ease-in-out 0s;
  -webkit-transition: border-color 0.25s ease-in-out 0s;
  -moz-transition: border-color 0.25s ease-in-out 0s;
}

.gt-product-grid .cart {
  width: 40px;
  height: 40px;
  bottom: 6px;
  right: 3px;
  position: absolute;
  display: none;
}

.gt-product-grid .cart .btn {
  background: url(http://ja-bookshop.demo.joomlart.com/components/com_mijoshop/opencart/catalog/view/theme/bookshop/image/icon-cart.png) no-repeat center center #f0141e;
  width: 40px;
  height: 40px;
}

.gt-product-grid .cart .btn:focus {
  outline: none;
}

.gt-product-grid .name, .gt-product-grid .rating, 
.gt-product-grid .price {
  margin-top: 5px;
  text-align: right;
}

/*Product Info*/
.gt-product-info .image {
  margin-bottom: 20px;
}

.gt-product-info .image img {
    width: 100%;
}

.gt-product-info .image a {
   padding: 10px;
    border: 1px #eee solid;
    display: block;
}
.gt-product-info .image-thumb > a {
  display: block;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.gt-product-info .image-thumb img {
    max-width: 100px;
    height: auto;
}

.gt-product-info .product-title > h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.gt-product-info a {
  color: #f0141e;
}

.gt-product-info .review {
  margin-bottom: 10px;
}

.gt-product-info .review .share {
  margin-top: 10px;
}

.gt-product-info .description {
  margin-bottom: 10px;
}

.gt-product-info .price {
  font-size: 250%;
}

.gt-product-info .tax {
  font-weight: normal;
  font-size: 12px;
  color: #aaa;
}

.input-qty {
  width: 100px;
  font-size: 14px;
  text-indent: 10px;
  display: inline-block;
  padding: 0;
}

.gt-product-info .cart, .gt-product-info .cart .actions {
  margin-top: 20px;
}

.gt-product-info .cart .actions .btn {
  background-image: url(http://ja-bookshop.demo.joomlart.com/components/com_mijoshop/opencart/catalog/view/theme/bookshop/image/icon-cart.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f0141e;
  border: 1px #dc0e17 solid;
  float: left;
}

.gt-product-info .cart .actions a {
  float: left;
  display: block;
  margin-left: 10px;
  border: 1px #eee solid;
  transition: box-shadow ease-in 0.2s;
}

.gt-product-info .cart .actions a:hover .fa {
  color: #f0141e;
}

.gt-product-info .cart .actions a:hover{
  box-shadow: 0 0 5px 2px #ddd;
}

.gt-product-info .cart .actions .fa {
  padding: 10px;
  font-size: 150%;
  color: #aaa;
  transition: all ease-in 0.2s;
}

share-button {
  font-size: 12px;
  font-weight: 600;
  background-color: #FFE73F;
}


    /*Cart Info*/
    
.cart-info table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.cart-info table thead {
  background-color: #f7f7f7;
}

.cart-info table td {
  border: 1px #D9D9D9 solid
}

.cart-info table .image {
  text-align: center;
}

.cart-info table .image img {
  max-width: 100px;
  height: auto;
}

.cart-info table .name, .cart-info table .model, 
.cart-info table .quantity {
  text-align: left;
}

.cart-info table .unit,
.cart-info table .total {
  text-align: right;
}

.cart-info tbody .unit,
.cart-info tbody .total {
  font-weight: 300;
  font-size: 13px;
  color: #F0141E;
}

.cart-info td {
  padding: 15px 20px;
}

.cart-info .tbody td {
  vertical-align: middle;
}

.cart-info tbody a {
  font-size: 13px;
  font-weight: 700;
}

.cart-total {
  border: 1px #eee solid;
  padding: 10px;
}

.cart-total table {
  max-width: 300px;
  min-width: 250px;
  float: right;
}

.cart-total table tr {
  border-bottom: 1px #eee solid;
}

.cart-total table tr td:first-child {
  text-align: left;
  font-weight: 600;
}

.cart-total table tr td:last-child {
  text-align: right;
  font-weight: 400;
  color: #f71401;
}

.cart-total table tr:last-child td { 
  font-weight: bold;
  font-size: 15px;
}

.cart-total table tr td {
  padding: 10px 0px;
}

.btn-navigation {
  margin-top: 20px;
}

.btn-navigation .btn-success {
  float: left;
}

.btn-navigation .btn-danger {
  float: right;
}

 /*About Us*/

.mem-item {
  margin-bottom: 50px;
}
 
.profile-photo .photo img {
  border-radius: 50%;
  max-width: 100%;
}

.profile-content h3 {
  color: #ea4e4e;
  font-size: 20px;
  margin-bottom: 15px;
}

.profile-content p {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
	text-align: center;
}

.profile-content strong {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    color: #666;
}

.list-social {
  list-style: none;
}

.list-social li {
  display: inline-block;
  margin-right: 5px;
}



.list-social .facebook a {
  background: #5E55EE url(../images/icon-facebook.svg) no-repeat center center;
}

.list-social .twitter a {
  background: #55acee url(../images/icon-twitter.svg) no-repeat center center;
}
.list-social .email a {
  background: #EC55EE url(../images/icon-email.svg) no-repeat center center;
}

.list-social .facebook a, .list-social .twitter a, .list-social .email a {
  background-size: 70%;
  border-radius: 50%;
}

.list-social {
  padding: 0;
}


.list-social li a {
  display: block;
  width: 30px;
  height: 30px;
}

  /* float input */
.float_label {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translateY(2em);
  transform: translateY(2em);
  color: rgba(0, 0, 0, 0.3);
  cursor: text;
  font-size: 1.1em;
  margin-bottom: 0 !important;
  font-family: 'Roboto';
}

label.float_label.filled {
  -webkit-transform: translateX(-0.5em) translateY(-0.2em) scale(0.8);
  transform: translateX(-0.5em) translateY(-0.2em) scale(0.8);
}

label.float_label.focused {
  color: black;
}

.float_input {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) !important;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) !important;
  border: none !important;
  border-radius: 0px !important;
  font-size: 1em !important;
  outline: none !important;
  padding-bottom: 0.4em !important;
  box-shadow: initial !important;
  width: 100% !important;
}

.input.float_input:focus {
  border-color: none !important;
}

input.float_input.default {
  border-bottom: 2px solid #5D9CEC !important;
}

input.float_input.default.focused {
  border-bottom: 2px solid #4A89DC !important;
}

input.float_input.required {
  border-bottom: 2px solid #ED5565 !important;
}

input.float_input.required.focused {
  border-bottom: 2px solid #DA4453 !important;
}



.float_field {
  padding: 0.5em;
}

.float_form section {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.required {
  color: red;
  font-size: 1.1em;
}

.cart_items .cart_item {
  border-bottom: 1px #eee solid;
  padding: 10px 5px;
}

.cart_items .cart_item:nth-child(even) {
  background-color: #fafafa;
}

.cart_items .cart_item .price {
  float: right;
  margin-left: 10px;
}

.cart_items .cart_item .item_name {
  margin: 0;
}

.totals {
  background-color: #BFBFBF;
  padding: 10px 5px;
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 20px;
}

.totals .total {
  float: right;
}

section {
  border: 1px #eee solid;
  padding: 10px;
}

.btn-order {
  display: block;
  border-radius: 0 !important;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
/*End Gien's section*/

/*Dat's section*/
.pagination {
    border-top: 1px solid #EEEEEE;
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    background: #F5F5F5;
    border: 1px solid #ddd;
    color: #666;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden
}
.pagination .links {
    float: left;    
    margin-left: 20px;
    padding-top: 10px
}
.pagination .links a {
    border: 1px solid #EEEEEE;
    padding: 4px 10px;
    text-decoration: none
}
.pagination .links b {
    border: 1px solid #269BC6;
    padding: 4px 10px;
    font-weight: normal;
    text-decoration: none;
    background: #FFFFFF
}
.pagination .results {
    float: right;
    padding-top: 3px;
    padding-top: 0;
    margin-right: 20px
}
.pagination .links a,
.pagination .links b {
    display: inline-block;
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px 2px #F0F0F0 inset
}
.pagination .links b,
.pagination .links a:hover,
.pagination .links a:focus,
.pagination .links a:active {
    color: #f0141e
}
.htabs {
    margin-bottom: -1px;
    overflow: auto;
    float: left;
    width: 175px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 0;
    margin-right: -1px;
    margin-bottom: 20px
}
.htabs a {
    float: left;
    font-size: 13px;
    text-decoration: none;
    margin-right: 2px;
    display: none;
    width: 100%;
    text-align: left;
    background: #f5f5f5;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-right: 0;
    border-top: 0;
    text-transform: uppercase;
    font-family: 'Roboto Slab', Georgia, Times, serif;
    color: #000;
    font-weight: normal;
    padding: 10px 20px
}
.htabs a.selected {
    padding-bottom: 7px;
    color: #f0141e;
    background: #fff
}
.htabs a:hover,
.htabs a:focus,
.htabs a:active {
    color: #f0141e;
    text-decoration: none;
    outline: none
}
@media screen and (max-width: 480px) {
    .htabs {
        float: none;
        width: 100%;
        margin-bottom: 0;
        border-top: 0
    }
    .htabs a {
        border: 1px solid #f0f0f0;
        border-bottom: 0;
        width: 100%
    }
    .htabs a.selected {
        padding-bottom: 10px
    }
}
.tab-content {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
    z-index: 2;
    overflow: hidden;
    border-top: 1px solid #f0f0f0;
    border-color: #f0f0f0;
    padding: 20px;
    margin: 0
}
.review-list {
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    border: 1px solid #EEEEEE
}
.review-list .author {
    float: left;
    margin-bottom: 20px
}
.review-list .rating {
    float: right;
    margin-bottom: 20px
}
.review-list .text {
    clear: both
}
.attribute {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px
}
.attribute thead td,
.attribute thead tr td:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    background: #F7F7F7;
    text-align: left
}
.attribute tr td:first-child {
    color: #000000;
    font-weight: bold;
    text-align: right;
    width: 20%
}
.attribute td {
    padding: 7px;
    color: #4D4D4D;
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD
}
.tags {
    clear: both;
    margin-top: 20px
}

.t3-mainbody {
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    float: none !important
}
@media (max-width: 767px) {
    .t3-mainbody {
        padding-top: 20px;
        padding-bottom: 20px
    }
}

/*End Dat's section*/


.home-footer a {
  text-decoration: none;
  font-size: 1.3em;
}
.home-footer a:link, .home.footer a:visited {
  text-decoration: none;
  color: red;
}
.a-home-footer {
  color: #3A3939;
}
.a-home-footer:hover {
  color: red;
}
/*.home-footer a:hover {
  text-decoration: none;
}*/
.home-footer {
  padding-left: 80px;
  background-color: #C3C3C3;
}
.home-footer ul li {
  display: inline-block;
}
.home-footer ul {
  list-style-type: none;
  margin-bottom: 0px;
}
footer {
  background-color: #222222;
  color: white;
    
}
.img-map {
  height: 25px;
  width: 22px;
}
.footer-ad ul {
  list-style-type: none;
  /*margin-top: 5px;*/
  padding-left: 20px;
  display: table;
}
.list-footer-left li {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;;
  cursor: pointer;
  float: left;
  margin-right: 0px;
  width: 100%;
}

img.img-footer {
  vertical-align: top;
  float: left;
  margin-right: 10px;
}
.footer-text-red {
  display: block;
  line-height: 100%;
  color: #f0141e;
}
.footer-text-white {
  display: block;
}
.boder-left-footer {
  border-right: solid 1px;
}
.top-fort {
  height: 20px;
}
ul.ul-footer-in a {
  text-decoration: none;
  color: #999999;
  font-family: 'Roboto Slab',Georgia,Times,serif;
    font-size: small;
}
ul.ul-footer-in a:hover {
  color: white;
}
ul.ul-footer-in li {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bottom-footer {
  text-align: center;
  border-top: solid 1px #999999;
}
.aaa {
  color: #999999;
  font-family: 'Roboto Slab',Georgia,Times,serif;
    font-size: small;
}
.scrollTop{
  padding:10px; 
  text-align:center; 
  background: #F0141E;
  font-weight: bold;
  position:fixed;
  right:5px;
  display:none;
  bottom: 100px;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
}

.scrollTop img {
    width: 28px;
    height: 28px;
}

        /*category css*/
.cata-item a:link, a:visited {
	text-decoration: none;
}
.cata-item a {
	display: block;
}
.cata-item a:hover {
	background-color: #999999;
}
.cat-left-rtl {
	/*background-color: #333333;*/
}
.cata-item ul {
	list-style-type: none;
}
.rtl-box .catalo {
	margin-right: 15%;
}
.rtl-box .catalo ul {
	padding-right: 40px;
	padding-left: 20px;
}
.cata-item a {
	padding-left: 15px;
}
.cat-left-rtl hr {
	margin-top: 5px; 
    margin-bottom: 5px; 
}
.rtl-banner img {
	width: 240px;
	height: 240px;
}
.cata-item ul li {
	margin-bottom: 5px;
    margin-top: 5px;
}
.cata-item ul li:nth-child(1n+2) {
	border-top: 1px dotted #eeeeee;
}
.cat-left-rtl h3 {
	font-size: 20px;
}
.fp-img {
	width: 80px;
	height: 120px;
}
.fp-item-img {
	float: left;
	width: 28%;
}
.fp-item-ct {
	padding-left: 95px;
}
.fp-name {
	margin-bottom: 0px;
	font-weight: bold;
}
.feature-product-item hr {
	margin-right: 15%;
	margin-bottom: 20px;
}
.fp-price {
	color: #f0141e;
    font-size: 14px;
    font-family: Sans-Serif;
    font-weight: normal;
}
.fp-item {
	display: block;
}
.clear {
	clear:left;
	height: 20px;
}


/*css cho log in*/
.log-oin {
	text-align: center;
}
.log-in {
	margin-right: 10px;
}
.login-form {
	/*position: fixed;*/
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(51,51,51,0.7);
	position: absolute;
	visibility: hidden;
	z-index: 10;
}
.login-form-box {
  margin-top: 100px;
	background-color: white;
	height: auto;
	z-index: 20;
}
.login-form-box h3 {
	color: red;
	font-weight: bold;
}
.form-ul {
	list-style-type: none;
	display: inline-block;
	color: black;
}
.form-ul li {
	margin-top: 3px;
	margin-bottom: 3px;
}
.btn-login {
	background-color: red;
	border: none;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-weight: bold;
}

  /* Register Page  */
  
.agree .btn-reg {
    display: inline-block;
    color: white;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: red;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.666667;
    border-radius: 0;
}

/*End Hieu's section*/
.wrapper {
  display: none;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
/* Thêm đoạn dành cho login form*/
.form-header-pu {
	margin-top: 15px;
}
.form-header-pu .h3 {
	color: red;
	font-weight: bold;
	font-size: 1.8em;
}
.btn-cpu {
	background-color: red;
	font-weight: bolder;
	color: white;
	float: right;
}
.form-group .required {
  color:red;
}
/* Phần này dành cho page contact */
.img-ab {
	/*max-height: 100%;*/
    max-width: 100%;

}
.ab-one-img {
	text-align: center;
}
.ab-one {
	padding: 20px;
	/*border: dotted 1px #999999;*/
	margin: 20px;
	background-color: white;
	/*border-corner-shape: bevel;*/
	border-radius: 20px;
}
.ab-one:nth-child(1) {
	border: none;
	background-color: #92D822;
	color: white;
	margin-top: 0px;
	padding-left: 40px;
}
.ab-one:last-child {
	margin-bottom: 0px;
}
#ab-container {
	background-color: #222222;
	padding: 20px;
}
.ab-info-name {
	font-weight: bold;
	font-size: 2.1em;
	margin-top: 10px;
	color: red;
}
.ab-one-info {
	font-size: 1.6em;
}
.ab-info-title {
	font-weight: bold;
}
.ab-title-header {
	padding: 40px;
}

/*#ab-container {
	padding: 20px;
}*/

/* Common */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.profile-photo, .profile-content {
	text-align: center;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
	
	
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
	
	.profile-photo, .profile-content {
		text-align: left;
	}
	
	.profile-content p {
		width: 70%;
		text-align: left;
	}
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}