
/*===============================
accordion.css
================================================================================*/

.liteAccordion > ol {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none
}
.liteAccordion > ol > li {
    list-style-type: none
}
.liteAccordion .slide > h2 {
    color: black;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background: #181818;
    padding: 20px;
    border-right: 1px solid #333
}
.liteAccordion .slide > h2.selected {
    border-right-color: #080808;
    background-color: #080808
}
.liteAccordion .slide > h2 > img {
    max-width: 100%;
    height: auto
}
.liteAccordion .slide > div {
    position: absolute;
    top: 0;
    z-index: 10;
    overflow: hidden;
    background: #080808;
    margin-left: 20px;
    padding-top: 20px;
    color: #888;
    height: 100%
}
.liteAccordion .slide.current > div {
    margin-left: 0
}
.liteAccordion .slide > div .name {
    color: #fff;
    font-family: 'Roboto Slab', Georgia, Times, serif;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 0
}
.liteAccordion .slide > div .actions {
    margin-top: 20px
}
.liteAccordion .slide > div .cart {
    float: left;
    margin-bottom: 0
}
.liteAccordion .slide > div .cart .btn {
    background-image: url(../images/icon-cart.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: normal
}
.liteAccordion .slide > div .wishlist,
.liteAccordion .slide > div .compare {
    float: left;
    /*margin-top: 8px*/
}
.liteAccordion .slide > div .wishlist a,
.liteAccordion .slide > div .compare a {
    width: 38px;
    line-height: normal;
    text-align: center;
    padding: 0;
    overflow: hidden;
    border: 1px solid #eee;
    color: #aaa;
    margin-left: 10px;
    background: #fff;
    padding: 10px;
	display: block;
}
.liteAccordion .slide > div .wishlist a:hover,
.liteAccordion .slide > div .compare a:hover {
    color: #333
}
#preload {
    background: url("ajax-loader.gif") no-repeat;
    width: 128px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin-left: -64px
}
/*===============================
product-list/grid.css
================================================================================*/

.mijoshop_heading_h1 {
    border: 0px !important;
    font-weight: bold !important;
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    color: #000 !important;
    text-transform: uppercase !important;
    line-height: 20px !important;
}
.pagination {
    border-top: 1px solid #EEEEEE;
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    background: #F5F5F5;
    border: 1px solid #ddd;
    color: #666;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden
}
.pagination .links {
    float: left;
    margin-left: 20px;
    padding-top: 10px
}
.pagination .links a {
    padding: 4px 10px;
    text-decoration: none
}
.pagination .links b {
    padding: 4px 10px;
    font-weight: normal;
    text-decoration: none;
}
.pagination .results {
    float: right;
    padding-top: 0;
    margin-right: 20px
}
.pagination .links a,
.pagination .links b {
    display: inline-block;
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px 2px #F0F0F0 inset
}
.pagination .links b,
.pagination .links a:hover,
.pagination .links a:focus,
.pagination .links a:active {
    color: #f0141e
}
.box-content img {
    max-width: 100%
}
.box-content .content-image .box_oc{
    margin-bottom: 20px
}
.box_oc .box-heading {
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    font-size: 14px;
    background: none;
    border: 0;
    border-bottom: 1px solid #000;
    color: #000;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 0 0 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif
}
.box_oc .box-content {
    margin: 0px;
    border: 0;
    padding: 0
}
.product-filter {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 5px;
    background: #F5F5F5;
    border: 1px solid #ddd;
    color: #666;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden
}
.product-filter .display {
    margin-right: 15px;
    float: left;
    padding-top: 4px
}
.product-filter .display a {
    font-weight: bold
}
.product-filter .sort {
    float: right;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 20px
}
.product-filter .limit {
    margin-left: 15px;
    float: right
}
.product-filter .display,
.product-filter .limit {
    margin: 0 20px;
    padding: 0
}
.product-filter .display > a,
.product-filter .display > span {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: -2px -2px 2px #f0f0f0 inset;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    margin: 6px 3px 0 0;
    padding: 1px 5px;
    width: 17px;
    color: #000
}
.product-filter .display > a {
    color: #ccc
}
.product-compare {
    padding-top: 6px;
    margin-bottom: 25px;
    font-weight: bold;
    padding: 0 20px;
    margin: 0;
    float: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}
.product-compare a {
    text-decoration: none;
    font-weight: bold
}
.product-compare a:hover,
.product-compare a:focus,
.product-compare a:active {
    text-decoration: none;
    color: #000
}
.product-list > div {
    overflow: auto;
    margin-bottom: 15px
}
.product-list .right {
    float: right;
    margin-left: 15px
}
.product-list .left {
    float: none;
    width: auto
}
.product-list > div + div {
    border-top: 1px solid #EEEEEE;
    padding-top: 16px
}
.product-list .image {
    float: left;
    margin-right: 10px
}
.product-list .image img {
    padding: 3px;
    border: 1px solid #E7E7E7
}
.product-list .name {
    margin-bottom: 3px
}
.product-list .name a {
    font-weight: bold;
    text-decoration: none
}
.product-list .description {
    line-height: 15px;
    margin-bottom: 5px
}
.product-list .rating {}.product-list .price {
    float: right;
    height: 50px;
    margin-left: 8px;
    text-align: right;
    font-size: 12px
}
.product-list .price-old {
    text-decoration: line-through
}
.product-list .price-new {
    font-weight: bold
}
.product-list .price-tax {
    font-size: 12px;
    font-weight: normal
}
.product-list .cart {
    margin-bottom: 3px
}
.product-list .wishlist,
.product-list .compare {
    margin-bottom: 3px
}
.product-list .wishlist a {
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('add.png') left center no-repeat
}
.product-list .compare a {
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('add.png') left 60% no-repeat
}
.product-grid {
    width: 100%;
    overflow: auto
}
.product-grid > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px
}
.product-grid > div {
    width: 125px
}
.product-grid .image {
    display: block;
    margin-bottom: 10px
}
.product-grid .image img {
    padding: 3px;
    border: 0;
    padding: 0;
    max-width: 100%
}
.product-grid .image > a {
    border: 1px solid #fff;
    display: block;
    padding: 0;
    position: relative;
    outline: none;
    transition: border-color 0.25s ease-in-out 0s
}
.product-grid .name a {
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 4px
}
.product-grid .description {
    display: none
}
.product-grid .rating {
    display: block;
    margin-bottom: 4px
}
.product-grid .price {
    display: block;
    font-weight: bold;
    margin-bottom: 4px
}
.product-grid .price-old {
    text-decoration: line-through
}
.product-grid .price-new {
    font-weight: bold
}
.product-grid .price .price-tax {
    display: none
}
.product-grid .price,
.product-grid .price-new {
    color: #f0141e;
    font-size: 14px;
    font-family: 'Roboto Slab', Georgia, Times, serif;
    font-weight: normal
}
.price-new {
    color: #f0141e;
    font-size: 14px;
    font-family: 'Roboto Slab', Georgia, Times, serif;
    font-weight: normal
}
.price-old {
    color: #999;
    text-decoration: line-through
}
.product-grid .cart {
    margin-bottom: 3px;
    right: 1px
}
.product-grid .wishlist,
.product-grid .compare {
    margin-bottom: 3px
}
.product-grid .wishlist a {
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('add.png') left center no-repeat
}
.product-grid .compare a {
    text-decoration: none;
    padding-left: 18px;
    display: block;
    background: url('add.png') left center no-repeat
}

/*=========================*/

.product-grid{
    margin: 0 -15px;
    width: auto
}
.product-grid > div{
    margin: 0;
    padding: 5px 15px 25px;
    width: 100%
}
@media (min-width: 768px) {
    .product-grid.row-5 > div{
        width: 20%;
        float: left
    }
    .product-grid.row-1 > div {
        float: left;
        width: 100%
    }
    .product-grid.row-2 > div {
        float: left;
        width: 50%
    }
    .product-grid.row-3 > div {
        float: left;
        width: 33.33%
    }
    .product-grid.row-4 > div {
        float: left;
        width: 25%
    }
    .product-grid.row-6 > div {
        float: left;
        width: 16.66%
    }
    .product-grid.row-7 > div {
        float: left;
        width: 14.28%
    }
    .product-grid.row-8 > div {
        float: left;
        width: 12.5%
    }
    .product-grid.row-9 > div {
        float: left;
        width: 11.11%
    }
    .product-grid.row-10 > div {
        float: left;
        width: 10%
    }
    .product-grid.row-2 > div.product-item-2,
    .product-grid.row-2 > div.product-item-4,
    .product-grid.row-2 > div.product-item-6,
    .product-grid.row-2 > div.product-item-8,
    .product-grid.row-2 > div.product-item-10,
    .product-grid.row-2 > div.product-item-12,
    .product-grid.row-2 > div.product-item-14,
    .product-grid.row-2 > div.product-item-16,
    .product-grid.row-2 > div.product-item-18,
    .product-grid.row-2 > div.product-item-20,
    .product-grid.row-2 > div.product-item-22,
    .product-grid.row-2 > div.product-item-24,
    .product-grid.row-2 > div.product-item-26,
    .product-grid.row-2 > div.product-item-28,
    .product-grid.row-2 > div.product-item-30,
    .product-grid.row-2 > div.product-item-32,
    .product-grid.row-2 > div.product-item-34,
    .product-grid.row-2 > div.product-item-36,
    .product-grid.row-2 > div.product-item-38,
    .product-grid.row-2 > div.product-item-40,
    .product-grid.row-2 > div.product-item-42,
    .product-grid.row-2 > div.product-item-44,
    .product-grid.row-2 > div.product-item-46,
    .product-grid.row-2 > div.product-item-48,
    .product-grid.row-2 > div.product-item-50 {
        clear: both
    }
    .product-grid.row-3 > div.product-item-3,
    .product-grid.row-3 > div.product-item-6,
    .product-grid.row-3 > div.product-item-9,
    .product-grid.row-3 > div.product-item-12,
    .product-grid.row-3 > div.product-item-15,
    .product-grid.row-3 > div.product-item-18,
    .product-grid.row-3 > div.product-item-21,
    .product-grid.row-3 > div.product-item-24,
    .product-grid.row-3 > div.product-item-27,
    .product-grid.row-3 > div.product-item-30,
    .product-grid.row-3 > div.product-item-33,
    .product-grid.row-3 > div.product-item-36,
    .product-grid.row-3 > div.product-item-39,
    .product-grid.row-3 > div.product-item-42,
    .product-grid.row-3 > div.product-item-45,
    .product-grid.row-3 > div.product-item-48 {
        clear: both
    }
    .product-grid.row-4 > div.product-item-4,
    .product-grid.row-4 > div.product-item-8,
    .product-grid.row-4 > div.product-item-12,
    .product-grid.row-4 > div.product-item-16,
    .product-grid.row-4 > div.product-item-20,
    .product-grid.row-4 > div.product-item-24,
    .product-grid.row-4 > div.product-item-28,
    .product-grid.row-4 > div.product-item-32,
    .product-grid.row-4 > div.product-item-36,
    .product-grid.row-4 > div.product-item-40,
    .product-grid.row-4 > div.product-item-44,
    .product-grid.row-4 > div.product-item-48 {
        clear: both
    }
    .product-grid.row-5 > div.product-item-5,
    .product-grid.row-5 > div.product-item-10,
    .product-grid.row-5 > div.product-item-15,
    .product-grid.row-5 > div.product-item-20,
    .product-grid.row-5 > div.product-item-25,
    .product-grid.row-5 > div.product-item-30,
    .product-grid.row-5 > div.product-item-35,
    .product-grid.row-5 > div.product-item-40,
    .product-grid.row-5 > div.product-item-45,
    .product-grid.row-5 > div.product-item-50 {
        clear: both
    }
    .product-grid.row-6 > div.product-item-6,
    .product-grid.row-6 > div.product-item-12,
    .product-grid.row-6 > div.product-item-18,
    .product-grid.row-6 > div.product-item-24,
    .product-grid.row-6 > div.product-item-30,
    .product-grid.row-6 > div.product-item-36,
    .product-grid.row-6 > div.product-item-42,
    .product-grid.row-6 > div.product-item-48 {
        clear: both
    }
    .product-grid.row-7 > div.product-item-7,
    .product-grid.row-7 > div.product-item-14,
    .product-grid.row-7 > div.product-item-21,
    .product-grid.row-7 > div.product-item-28,
    .product-grid.row-7 > div.product-item-35,
    .product-grid.row-7 > div.product-item-42,
    .product-grid.row-7 > div.product-item-49 {
        clear: both
    }
    .product-grid.row-8 > div.product-item-8,
    .product-grid.row-8 > div.product-item-16,
    .product-grid.row-8 > div.product-item-24,
    .product-grid.row-8 > div.product-item-32,
    .product-grid.row-8 > div.product-item-40,
    .product-grid.row-8 > div.product-item-48 {
        clear: both
    }
    .product-grid.row-9 > div.product-item-9,
    .product-grid.row-9 > div.product-item-18,
    .product-grid.row-9 > div.product-item-27,
    .product-grid.row-9 > div.product-item-36,
    .product-grid.row-9 > div.product-item-45 {
        clear: both
    }
}
@media screen and (max-width: 480px) {
    .product-grid.row > div{
        width: 50%;
        float: left
    }
    .product-grid.row > div:nth-child(2n+1){
        clear: both
    }
    .product-grid.row-5 > div:nth-child(5n+1),
    .product-grid.row-4 > div:nth-child(4n+1),
    .product-grid.row-3 > div:nth-child(3n+1),
    .product-grid.row-2 > div:nth-child(2n+1),
    .product-grid.row-1 > div {
        clear: none
    }
}

.product-grid .actions {
    position: relative
}

.product-grid > div:hover .image > a {
    border: 1px solid #ccc;
    padding: 5px;
    margin: -5px;
    border-radius: 3px;
    box-shadow: 0 0 3px #e0e0e0
}

.product-grid .name a {
    color: #000;
    display: block;
    font-family: 'Roboto Slab', Georgia, Times, serif;
    padding: 0;
    font-weight: normal;
    font-size: 14px
}
.product-grid > div:hover .name a,
.product-grid .name a:hover,
.product-grid .name a:focus,
.product-grid .name a:active,
.ja-product-grid > div:hover .name a,
.ja-product-grid .name a:hover,
.ja-product-grid .name a:focus,
.ja-product-grid .name a:active {
    color: #f0141e
}
.product-grid .cart,
.product-grid .wishlist,
.product-grid .compare {
    margin-bottom: 0;
    display: none \9;
    width: 40px;
    height: 40px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    bottom: 6px
}
.product-grid .wishlist {
    right: 80px
}
.product-grid .wishlist a,
.product-grid .compare a{
    background: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    display: block
}
.product-grid .cart .btn{
    text-indent: -999em;
    background: url(../images/icon-cart.png) no-repeat center center #f0141e;
    width: 40px;
    height: 40px
}
.product-grid .compare {
    right: 41px
}
.product-grid > div:hover .cart,
.product-grid > div:hover .compare {
    display: inline-block \9;
    opacity: 1
}

.product-list .image {
    margin-right: 20px;
    float: none
}
.product-list .image img {
    padding: 0;
    border: 0;
    max-width: 100%
}
.product-list .left {
    padding-left: 15px;
    padding-right: 15px
}
.product-list .cart {
    float: left;
    margin-bottom: 0
}
.product-list .cart .btn {
    background-image: url(../images/icon-cart.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: normal
}
.product-list .wishlist,
.product-list .compare {
    float: left
}
.product-list .wishlist a,
.product-list .compare a {
    width: 38px;
    line-height: normal;
    text-align: center;
    padding: 0;
    overflow: hidden;
    border: 1px solid #eee;
    color: #aaa;
    margin-left: 10px;
    background: #fff;
    padding: 10px
}
.product-list .wishlist a:hover,
.product-list .compare a:hover {
    color: #333
}
.product-list > div {
    margin-bottom: 20px
}
.product-list > div + div {
    padding-top: 20px
}
.product-list .name a {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 0
}
.product-list .name a:hover,
.product-list .name a:focus,
.product-list .name a:active {
    color: #f0141e
}
.product-list .rating {
    margin-bottom: 10px
}
.product-list .description {
    margin-bottom: 10px
}
.sub-select-box select {
    background: transparent;
    width: 155px;
    padding: 3px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 26px;
    -webkit-appearance: none;
    cursor: pointer
}
.select-box {
    width: 120px;
    height: 26px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    position: relative
}
.select-box:before {
    height: 26px;
    width: 28px;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/bg-drop-select.gif) no-repeat right;
    cursor: pointer
}
.sort .select-box {
    width: 150px
}
.sort .sub-select-box select {
    width: 175px
}
.sub-select-box {
    box-shadow: 0 0 2px 2px #f0f0f0 inset;
    float: left;
    height: 100%;
    width: 101%
}
@media screen and (max-width: 480px) {
    .product-filter .product-compare {
        display: none
    }
    .product-filter .display {
        display: none
    }
    .product-filter .sort {
        display: none
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product-grid > div .image a img {
        width: 100% !important
    }
    .product-filter .sort {
        padding-left: 15px;
        padding-right: 15px
    }
    .product-filter .display,
    .product-filter .limit {
        margin-left: 15px;
        margin-right: 15px
    }
    .box_oc .limit .select-box {
        width: 65px
    }
    .box_oc .limit .sub-select-box select {
        width: 55px
    }
}
@media (max-width: 767px) {
    .product-grid > div {
        width: 50% !important
    }
    .product-grid > div:nth-child(2n+1) {
        clear: both !important
    }
    .product-grid > div .image a img {
        width: 100% !important
    }
    .product-list .image {
        margin-right: 0;
        margin-bottom: 15px
    }
    .product-list .left {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px
    }
    .box_oc .buttons .btn.btn-primary[type="submit"]{
        display: block;
        margin-top: 3px;
        float: right
    }
    .product-list .image {
        margin-right: 0;
        margin-bottom: 15px
    }
    .product-list .image img {
        width: 100% !important
    }
}
